.btn {
  cursor: pointer;
  -webkit-appearance: none;
  @include border-radius(0);
  @include transition(all 0.3s);
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $colorWhite;
  background-color: #002246;
  text-align: center;
  padding: 13px 10px;
  border: 1px solid #002246;
  display: inline-block;
  text-transform: uppercase;

  &:hover {
    background-color: $colorWhite;
    color: #002246;
  }

  &--white {
    background-color: $colorWhite;
    border-color: #002246;
    color: #002246;

    &:hover {
      background-color: #002246;
      color: $colorWhite;
    }
  }
}

.btn-favorire {
  path {
    stroke: #8b98a1;
  }

  &:hover {
    path {
      stroke: rgba(0, 34, 70, 1);
    }
  }

  &.favorite {
    fill: rgba(0, 34, 70, 1);
  }
}
