.btn {
  cursor: pointer;
  -webkit-appearance: none;
  @include border-radius(0);
  @include transition(all 0.3s);
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $colorWhite;
  background-color: #002246;
  text-align: center;
  padding: 13px 10px;
  border: 1px solid #002246;
  display: inline-block;
  text-transform: uppercase;

  &:hover {
    border-color: #193c57;
    background-color: #193c57;
    color: #41c0eb;
  }

  &--white {
    background-color: $colorWhite;
    border-color: #002246;
    color: #002246;

    &:hover {
      border-color: #cbd4db;
      background-color: #cbd4db;
      color: #013956;
    }
  }

  &:disabled{
    pointer-events: none;
    border-color: rgba(0, 34, 70, 0);
    background: rgba(0, 34, 70, 0.50);
  }
}

.btn-favorire {
  path {
    stroke: #8b98a1;
    @include transition(all 0.3s);
  }

  &:hover {
    path {
      stroke: rgba(0, 34, 70, 1);
    }
  }

  &.favorite {
    path {
      fill: rgba(0, 34, 70, 1);
      stroke: rgba(0, 34, 70, 1);
    }
  }
}

.btn-close {
}

.btn-clear {
  cursor: pointer;
  border: 1px solid #193c57;
  color: #193c57;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  @include transition(all 0.3s);

  svg {
    path {
      fill: #193c57;
      @include transition(fill 0.3s);
    }
  }

  &:hover {
    background-color: #193c57;
    color: $colorWhite;

    svg {
      path {
        fill: $colorWhite;
      }
    }
  }
}
