.btn {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  transition: all 0.3s;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $colorWhite;
  background-color: #008bd2;
  text-align: center;
  padding: 10px 22px;
  border: 1px solid #008bd2;
  display: inline-block;
  border-radius: 5px;
  box-shadow: -1px 6px 12px 0px #0085ff36;

  &:hover {
    border-color: #193c57;
    background-color: #193c57;
    color: #41c0eb;
  }

  &--white {
    background-color: $colorWhite;
    border-color: #002246;
    color: #002246;
    box-shadow: none;

    &:hover {
      border-color: #cbd4db;
      background-color: #cbd4db;
      color: #013956;
    }
  }

  &--whiteFull {
    border-color: $colorWhite;
    background-color: $colorWhite;
    color: #0d3e75;
    box-shadow: none;

    &:hover {
      border-color: #f2e800;
      background-color: #f2e800;
      color: #013956;
    }
  }

  &--blue {
    border-color: #008bd2;
    color: #008bd2;
    background-color: transparent;
    text-transform: none;
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
    border-color: rgba(0, 34, 70, 0);
    background: rgba(0, 34, 70, 0.5);
  }
}

.btn-favorire {
  path {
    stroke: #8b98a1;
    @include transition(all 0.3s);
  }

  &:hover {
    path {
      stroke: rgba(0, 34, 70, 1);
    }
  }

  &.favorite {
    path {
      fill: rgba(0, 34, 70, 1);
      stroke: rgba(0, 34, 70, 1);
    }
  }
}

.btn-close {
}

.btn-clear {
  cursor: pointer;
  border: 1px solid #193c57;
  color: #193c57;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  @include transition(all 0.3s);

  svg {
    path {
      fill: #193c57;
      @include transition(fill 0.3s);
    }
  }

  &:hover {
    background-color: #193c57;
    color: $colorWhite;

    svg {
      path {
        fill: $colorWhite;
      }
    }
  }
}
