.caption {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  display: block;
  color: #002246;
}

.caption-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  display: block;
  margin-top: 16px;
  color: #002246;
}
