.caption {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  display: block;
  color: #002246;

  &.caption--mobile {
    display: none;
    color: $colorWhite;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.caption-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  display: block;
  margin-top: 16px;
  color: #002246;
}
