.header {
  background-color: #0c2038;
  width: 100%;
}

.header-top {
  background-color: #193c57;
  position: relative;
  z-index: 7;
}

.header-top__inner {
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: space-between;
  position: relative;
}

.menu {
  .menu__list {
    display: flex;
    gap: 31px;
    position: relative;
    z-index: 5;
  }

  li {
    position: relative;

    &.active {
      .menu-link::before {
        @include transform(scale(1, -1));
      }
    }
    &:hover {
      .menu-link::before {
        @include transform(scale(1, -1));
      }

      .sub-menu {
        display: block;
      }
    }
  }
}

.menu-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $colorWhite;
  position: relative;
  padding-left: 20px;
  display: block;

  @include before {
    border-top: solid 5px $colorWhite;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 0px transparent;
    left: 0;
    top: 50%;
    margin-top: -1px;
  }

  &.not-arrow {
    &::before {
      display: none;
    }
  }
}

.sub-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $colorWhite;
  @include text-decoration-hover($colorWhite);
}

.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #193c57;
  min-width: 212px;
  padding: 16px;
  display: none;

  &:hover {
    display: block;
  }

  li {
    & + li {
      margin-top: 16px;
    }
  }
}

.header-bottom {
}

.header-bottom__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
}

.logo-wrapper {
}

.link-menuCatalog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorWhite;
}

.search-block {
  max-width: 290px;
  position: relative;
  width: 100%;

  input {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $colorWhite;
    width: 100%;
    background: transparent;
    border: solid 1px #a1d9f8;
    height: 38px;
    padding: 0 45px 0 10px;
  }

  .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a1d9f8;

    path {
      fill: #102d4d;
    }
  }
}

.favorite-block {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $colorWhite;
  display: flex;
  align-items: center;
  gap: 10px;
  @include transition(text-decoration 0.3s);
  @include invisLink;
  text-decoration: underline;
  text-decoration-color: transparent;

  .icon {
    fill: #a1d9f8;
  }

  &:hover {
    text-decoration-color: $colorWhite;
  }
}

.header-basket {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: solid 1px $colorWhite;
  padding-right: 30px;
  color: $colorWhite;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  @include transition(text-decoration 0.3s);
  @include invisLink;
  text-decoration: underline;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: $colorWhite;
  }
}

.header-basket__text {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .count {
  }

  span {
  }
}

.header-basket__basket {
  color: $colorWhite;
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #a1d9f8;
  }

  .count {
    width: 20px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $colorWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef5553;
    @include border-radius(50%);
    position: absolute;
    top: -10px;
    right: -10px;
  }
}

.burger-block {
  display: flex;
  align-items: center;
  gap: 10px;
  @include invisLink;
  z-index: auto;

  a {
    z-index: 5;
  }
}

.burger {
  width: 19px;
  height: 12px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 1px;

  &.active {
    top: 0px;
    .burger__line {
      &:nth-child(1) {
        @include transform(rotate(-45deg));
        top: 6px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform(rotate(45deg));
        top: -4px;
      }
    }
  }

  &__line {
    position: relative;
    // pointer-events: none;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #a1d9f8;
    @include transition(all 0.3s);
  }
}

.search-link-mobile {
  display: none;

  .icon {
    width: 24px;
    height: 24px;
    fill: #a1d9f8;
    display: block;
  }
}

.cabinet-block {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  @include invisLink;
  max-width: 200px;

  .icon {
    fill: #a1d9f8;
  }

  &:hover {
    .cabinet-block__text {
      text-decoration-color: $colorWhite;
    }
  }
}

.cabinet-block__text {
  color: $colorWhite;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: transparent;
  @include transition(text-decoration 0.3s);
  word-break: break-all;
  line-height: 16px;
}

.cabinet-block__icon {
  background-color: $colorWhite;
  @include border-radius(50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.adress-block {
  color: $colorWhite;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  @include transition(text-decoration 0.3s);
  @include invisLink;

  &:hover {
    text-decoration-color: transparent;
  }

  .icon {
    fill: #a1d9f8;
  }

  span {
    flex: 1;
  }

  .adress-block__click {
  }

  &--mobile {
    display: none;
  }
}

.search-invis {
  position: absolute;
  top: 100%;
  width: calc(100% + 30px);
  padding: 15px;
  left: -15px;
  background-color: $colorWhite;
  z-index: 5;
  display: none;

  .search-invis__inner {
    position: relative;
  }

  .btn-search {
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  input {
    width: 100%;
    height: 29px;
    padding: 0 15px 0 35px;
    border: 0;
    border-bottom: solid 1px #e6e9ed;
    font-size: 12px;
    font-weight: 400;
  }
}

.menu-catalog {
  position: absolute;
  left: 180px;
  top: 100%;
  width: 282px;
  z-index: 9;
  display: none;
  @include box-shadow(0px 4px 24px 0px rgba(218, 224, 232, 0.6));

  .menu-catalog__list {
    & > li {
      & > a {
        @include before {
          right: 20px;
        }

        &:hover {
          &::before {
            @include transform(rotate(-180deg));
          }
        }
      }
    }
  }

  ul {
    background-color: $colorWhite;
    color: rgba(0, 34, 70, 0.7);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-top: 10px;
    padding-bottom: 20px;

    li {
      a {
        padding: 10px 20px;
        display: block;
        position: relative;
        @include transition(color 0.3s);

        @include before {
          top: 50%;
          margin-top: -10px;

          background-image: url("../img/arrow-menu.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
        }
        &:hover {
          &::before {
            @include transform(rotate(-90deg));
          }

          & + .submenu-catalog {
            display: flex;
          }
        }

        &.not-before {
          &::before {
            display: none;
          }
        }
      }

      & + li {
        margin-top: 3px;
      }

      &:hover {
        & > a {
          color: #002246;

          &::before {
            @include transform(rotate(-180deg));
          }
        }
      }
    }
  }

  .submenu-catalog {
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    display: flex;
    align-content: space-between;
    color: rgba(0, 34, 70, 0.7);
    padding: 10px 20px;
    display: none;
    @include box-shadow(0px 4px 24px 0px rgba(218, 224, 232, 0.6));
    overflow: hidden;
    background-color: $colorWhite;

    &:hover {
      display: flex;
    }

    .submenu-column {
      width: 50%;
      margin: 0;
      padding: 0;
      min-width: 252px;
    }

    li {
      width: 100%;
      max-width: 242px;
      padding-right: 30px;

      &:hover {
        & > a {
          color: #002246;
          &::before {
            @include transform(rotate(90deg));
          }
        }
      }

      a {
        padding: 10px 0;

        &::before {
          right: -30px;
          @include transform(rotate(90deg));
        }

        &:hover {
          color: #002246;
        }

        &.opened {
          &::before {
            @include transform(rotate(-90deg));
          }
        }
      }
    }

    &--inner {
      display: none;
      padding: 16px 10px;
      background-color: rgba(161, 217, 248, 0.3);
      width: calc(100% + 30px);

      &:hover {
        display: block;
      }

      li {
        max-width: 100%;
        width: 100%;
        padding: 0;

        a {
          padding: 0;

          &::before {
            display: none;
          }
        }

        & + li {
          margin-top: 16px;
        }
      }
    }
  }
}
