.grettings {
  padding: 0;

  &-slider {
    &.one-slide {
      .swiper-pagination {
        display: none !important;
      }
    }

    .swiper-pagination {
      background-color: #fff;
      padding: 27px 0;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #d9d9d9;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: $colorBlack;
      }
    }
  }

  &-content {
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 84px 0;
    max-width: 515px;
    position: relative;

    @include responsive1023 {
      padding: 55px 0;
      gap: 20px;
      font-size: 18px;
      line-height: 22px;
    }

    @include responsive767 {
      height: 430px;
      gap: 10px;
      font-size: 12px;
      line-height: 14px;
      justify-content: flex-end;
    }
  }

  .caption {
    color: $colorWhite;
    font-size: 46px;
    line-height: 50px;
    font-weight: 900;

    @include responsive1023 {
      font-size: 36px;
      line-height: 44px;
    }

    @include responsive767 {
      font-size: 22px;
      line-height: 26px;
    }

    strong {
      color: #f2e800;
    }
  }

  &-price {
    font-size: 80px;
    font-weight: 900;
    line-height: 96px;
    display: flex;
    align-items: center;
    gap: 20px;

    @include responsive1023 {
      font-size: 60px;
      line-height: 72px;
    }

    @include responsive767 {
      font-size: 30px;
      line-height: 36px;
      gap: 10px;
    }

    .price--old {
      font-size: 36px;
      font-weight: 400;
      line-height: 43px;
      text-decoration: line-through;

      @include responsive1023 {
        font-size: 30px;
        line-height: 36px;
      }

      @include responsive767 {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .price {
      color: #f2e800;
    }
  }

  .btn {
    text-transform: none;
    padding: 14px;
    width: 100%;
    max-width: 260px;

    @include responsive1023 {
      max-width: 236px;
      font-size: 22px;
      line-height: 26px;
    }

    @include responsive767 {
      font-size: 16px;
      line-height: 19px;
      max-width: 155px;
    }
  }

  &-text {
  }

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include before {
      background: linear-gradient(
        81.38deg,
        rgba(6, 27, 69, 0.77) 35.06%,
        rgba(5, 13, 30, 0.18) 119.16%
      );
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
  }
}

.banner-list {
  @include responsive1599 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px 20px;
    padding: 0 30px;
  }

  @include responsive1023 {
    gap: 10px;
  }

  @include responsive767 {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 15px;
  }

  @include responsive479 {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
    }

    @include responsive1599 {
      width: 100%;
      min-width: initial;
    }

    @include responsive1279 {
      font-size: 16px;
      line-height: 24px;
      padding: 15px;
    }

    @include responsive1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include responsive767 {
    }

    @include responsive639 {
      min-height: 69px;
    }

    @include responsive479 {
    }
  }
}

.wholesalers {
  position: relative;
  color: $colorWhite;
  min-height: 426px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include responsive1023 {
    min-height: 259px;
  }

  @include responsive639 {
    min-height: initial;
    padding: 80px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include responsive639 {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 26px;

    @include responsive639 {
      max-width: 100%;
      width: 100%;
    }
  }

  &__right {
    width: 50%;
    max-width: 514px;

    @include responsive1023 {
      max-width: 244px;
      font-size: 12px;
      line-height: 15px;
    }

    @include responsive639 {
      max-width: 100%;
      width: 100%;
      margin-top: 50px;
    }
  }

  .desc {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    @include responsive1023 {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .caption {
    color: $colorWhite;
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: left;

    @include responsive1023 {
      font-size: 26px;
      line-height: 32px;
    }

    @include responsive639 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .btn {
    margin-top: 58px;
    padding: 15px 30px;
    text-transform: none;
    font-weight: 700;

    @include responsive1023 {
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
    }

    @include responsive639 {
      max-width: 236px;
    }
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include before {
      background: linear-gradient(
        81.38deg,
        rgba(6, 27, 69, 0.77) 35.06%,
        rgba(5, 13, 30, 0.18) 119.16%
      );
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.question-answer {
  &__head {
    .caption {
      @include responsive1279 {
        display: block;
        text-align: center;
      }
    }
  }

  &__body {
    max-width: 950px;
    margin: 40px auto 0;
    width: 100%;

    @include responsive1279 {
      max-width: initial;
      position: relative;
      left: -20px;
      width: calc(100% + 40px);
    }

    @include responsive1279 {
      margin-top: 20px;
    }

    @include responsive767 {
      margin-top: 0;
    }
  }

  &__line {
    &:last-child {
      border-bottom: solid 1px #707378;
    }

    & + .question-answer__line {
      border-top: solid 1px #707378;
    }
  }

  &__quest {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 85px;
    cursor: pointer;
    position: relative;

    @include responsive1279 {
      padding: 30px 25px;
    }

    &.opened {
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.7109 2.3136L11.7109 20.3136' stroke='black'/%3e%3cpath d='M2.51953 11.506L20.5195 11.506' stroke='black'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      top: 50%;
      right: 85px;
      transform: translateY(-50%);

      @include responsive1279 {
        right: 40px;
      }
    }

    .num {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: #707378;
    }

    .name {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;

      @include responsive1023 {
        font-size: 16px;
        line-height: 19px;
      }

      @include responsive767 {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__content {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 30px 85px;
    border-top: solid 1px #707378;
    display: none;

    @include responsive1279 {
      padding: 30px 25px;
    }

    @include responsive767 {
      font-size: 12px;
      line-height: 16px;
    }

    p + * {
      margin-top: 30px;

      @include responsive1279 {
        margin-top: 20px;
      }
    }

    ul + * {
      margin-top: 30px;

      @include responsive1279 {
        margin-top: 20px;
      }
    }
  }
}

.product-review {
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 24px 0px #dae0e899;
  margin-top: 30px;
  max-width: 979px;
  width: 100%;

  .product-review__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    @include responsive767 {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .rating {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    @include responsive767 {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 10px;
    }
  }

  .rating-stars {
    width: 125px;
    display: flex;
    align-items: center;
    gap: 5px;

    .star {
      cursor: pointer;
      width: 25px;
      height: 25px;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 0L16.541 6.93801L24.3882 8.63729L19.0385 14.6245L19.8473 22.6127L12.5 19.375L5.15268 22.6127L5.96149 14.6245L0.611794 8.63729L8.45898 6.93801L12.5 0Z' fill='%23E4E4E4'/%3e%3c/svg%3e ");

      &.active {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 0L16.541 6.93801L24.3882 8.63729L19.0385 14.6245L19.8473 22.6127L12.5 19.375L5.15268 22.6127L5.96149 14.6245L0.611794 8.63729L8.45898 6.93801L12.5 0Z' fill='%23FED42B'/%3e%3c/svg%3e ");
      }
    }
  }

  .rating__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    @include responsive767 {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .input-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 16px;
    margin-top: 16px;

    @include responsive767 {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  .input-item {
    position: relative;

    &:last-child {
      grid-column: 1/3;

      @include responsive767 {
        grid-column: 1/2;
      }
    }

    & + .input-item {
      margin-top: 0;
    }
  }

  .questions-from__controls {
    margin-top: 16px;
  }

  .icon-date {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.23905 7.71948H2.49992C2.41343 7.71948 2.33049 7.75384 2.26934 7.81499C2.20818 7.87614 2.17383 7.95909 2.17383 8.04557V9.7847C2.17383 9.87118 2.20818 9.95413 2.26934 10.0153C2.33049 10.0764 2.41343 10.1108 2.49992 10.1108H4.23905C4.32553 10.1108 4.40847 10.0764 4.46962 10.0153C4.53078 9.95413 4.56513 9.87118 4.56513 9.7847V8.04557C4.56513 7.95909 4.53078 7.87614 4.46962 7.81499C4.40847 7.75384 4.32553 7.71948 4.23905 7.71948ZM3.91296 9.45861H2.826V8.37166H3.91296V9.45861Z' fill='%23757575'/%3e%3cpath d='M8.3699 7.71948H6.63077C6.54429 7.71948 6.46135 7.75384 6.4002 7.81499C6.33904 7.87614 6.30469 7.95909 6.30469 8.04557V9.7847C6.30469 9.87118 6.33904 9.95413 6.4002 10.0153C6.46135 10.0764 6.54429 10.1108 6.63077 10.1108H8.3699C8.45639 10.1108 8.53933 10.0764 8.60048 10.0153C8.66164 9.95413 8.69599 9.87118 8.69599 9.7847V8.04557C8.69599 7.95909 8.66164 7.87614 8.60048 7.81499C8.53933 7.75384 8.45639 7.71948 8.3699 7.71948ZM8.04382 9.45861H6.95686V8.37166H8.04382V9.45861Z' fill='%23757575'/%3e%3cpath d='M12.282 7.71948H10.5429C10.4564 7.71948 10.3735 7.75384 10.3123 7.81499C10.2512 7.87614 10.2168 7.95909 10.2168 8.04557V9.7847C10.2168 9.87118 10.2512 9.95413 10.3123 10.0153C10.3735 10.0764 10.4564 10.1108 10.5429 10.1108H12.282C12.3685 10.1108 12.4514 10.0764 12.5126 10.0153C12.5737 9.95413 12.6081 9.87118 12.6081 9.7847V8.04557C12.6081 7.95909 12.5737 7.87614 12.5126 7.81499C12.4514 7.75384 12.3685 7.71948 12.282 7.71948ZM11.9559 9.45861H10.869V8.37166H11.9559V9.45861Z' fill='%23757575'/%3e%3cpath d='M4.23905 11.6326H2.49992C2.41343 11.6326 2.33049 11.6669 2.26934 11.7281C2.20818 11.7892 2.17383 11.8722 2.17383 11.9587V13.6978C2.17383 13.7843 2.20818 13.8672 2.26934 13.9284C2.33049 13.9895 2.41343 14.0239 2.49992 14.0239H4.23905C4.32553 14.0239 4.40847 13.9895 4.46962 13.9284C4.53078 13.8672 4.56513 13.7843 4.56513 13.6978V11.9587C4.56513 11.8722 4.53078 11.7892 4.46962 11.7281C4.40847 11.6669 4.32553 11.6326 4.23905 11.6326ZM3.91296 13.3717H2.826V12.2847H3.91296V13.3717Z' fill='%23757575'/%3e%3cpath d='M8.3699 11.6326H6.63077C6.54429 11.6326 6.46135 11.6669 6.4002 11.7281C6.33904 11.7892 6.30469 11.8722 6.30469 11.9587V13.6978C6.30469 13.7843 6.33904 13.8672 6.4002 13.9284C6.46135 13.9895 6.54429 14.0239 6.63077 14.0239H8.3699C8.45639 14.0239 8.53933 13.9895 8.60048 13.9284C8.66164 13.8672 8.69599 13.7843 8.69599 13.6978V11.9587C8.69599 11.8722 8.66164 11.7892 8.60048 11.7281C8.53933 11.6669 8.45639 11.6326 8.3699 11.6326ZM8.04382 13.3717H6.95686V12.2847H8.04382V13.3717Z' fill='%23757575'/%3e%3cpath d='M12.282 11.6326H10.5429C10.4564 11.6326 10.3735 11.6669 10.3123 11.7281C10.2512 11.7892 10.2168 11.8722 10.2168 11.9587V13.6978C10.2168 13.7843 10.2512 13.8672 10.3123 13.9284C10.3735 13.9895 10.4564 14.0239 10.5429 14.0239H12.282C12.3685 14.0239 12.4514 13.9895 12.5126 13.9284C12.5737 13.8672 12.6081 13.7843 12.6081 13.6978V11.9587C12.6081 11.8722 12.5737 11.7892 12.5126 11.7281C12.4514 11.6669 12.3685 11.6326 12.282 11.6326ZM11.9559 13.3717H10.869V12.2847H11.9559V13.3717Z' fill='%23757575'/%3e%3cpath d='M14.6739 2.26075H12.8261V1.87814C12.8261 1.57603 12.7061 1.28629 12.4924 1.07266C12.2788 0.859029 11.9891 0.739014 11.687 0.739014H11.5717C11.27 0.73959 10.9808 0.859859 10.7677 1.07342C10.5545 1.28699 10.4348 1.5764 10.4348 1.87814V2.26075H8.69565V1.87814C8.69565 1.57603 8.57564 1.28629 8.36201 1.07266C8.14838 0.859029 7.85864 0.739014 7.55652 0.739014H7.4413C7.13956 0.73959 6.85038 0.859859 6.63722 1.07342C6.42406 1.28699 6.30435 1.5764 6.30435 1.87814V2.26075H4.34783V1.87814C4.34783 1.57603 4.22781 1.28629 4.01418 1.07266C3.80055 0.859029 3.51081 0.739014 3.2087 0.739014H3.09348C2.79174 0.73959 2.50255 0.859859 2.2894 1.07342C2.07624 1.28699 1.95652 1.5764 1.95652 1.87814V2.26075H0.326087C0.239603 2.26075 0.156662 2.29511 0.0955088 2.35626C0.0343557 2.41741 0 2.50036 0 2.58684V16.9347C0 17.0212 0.0343557 17.1041 0.0955088 17.1652C0.156662 17.2264 0.239603 17.2608 0.326087 17.2608H14.6739C14.7604 17.2608 14.8433 17.2264 14.9045 17.1652C14.9656 17.1041 15 17.0212 15 16.9347V2.58684C15 2.50036 14.9656 2.41741 14.9045 2.35626C14.8433 2.29511 14.7604 2.26075 14.6739 2.26075ZM11.087 1.87814C11.087 1.74899 11.1383 1.62514 11.2296 1.53381C11.3209 1.44249 11.4448 1.39119 11.5739 1.39119H11.6891C11.8179 1.39176 11.9412 1.44332 12.0321 1.53458C12.1229 1.62584 12.1739 1.74937 12.1739 1.87814V3.5151C12.1739 3.64425 12.1226 3.76811 12.0313 3.85943C11.94 3.95075 11.8161 4.00206 11.687 4.00206H11.5717C11.443 4.00148 11.3197 3.94992 11.2288 3.85866C11.138 3.7674 11.087 3.64387 11.087 3.5151V1.87814ZM6.95652 1.87814C6.95652 1.74899 7.00783 1.62514 7.09915 1.53381C7.19047 1.44249 7.31433 1.39119 7.44348 1.39119H7.5587C7.68747 1.39176 7.81077 1.44332 7.90162 1.53458C7.99247 1.62584 8.04348 1.74937 8.04348 1.87814V3.5151C8.04348 3.64425 7.99217 3.76811 7.90085 3.85943C7.80953 3.95075 7.68567 4.00206 7.55652 4.00206H7.4413C7.31253 4.00148 7.18923 3.94992 7.09838 3.85866C7.00753 3.7674 6.95652 3.64387 6.95652 3.5151V1.87814ZM2.6087 1.87814C2.6087 1.74899 2.66 1.62514 2.75132 1.53381C2.84264 1.44249 2.9665 1.39119 3.09565 1.39119H3.21087C3.33964 1.39176 3.46294 1.44332 3.5538 1.53458C3.64465 1.62584 3.69565 1.74937 3.69565 1.87814V3.5151C3.69565 3.64425 3.64435 3.76811 3.55303 3.85943C3.4617 3.95075 3.33784 4.00206 3.2087 4.00206H3.09348C2.96471 4.00148 2.8414 3.94992 2.75055 3.85866C2.6597 3.7674 2.60869 3.64387 2.6087 3.5151V1.87814ZM14.3478 16.6086H0.652174V2.91293H1.95652V3.51293C1.95652 3.81504 2.07654 4.10479 2.29016 4.31841C2.50379 4.53204 2.79354 4.65206 3.09565 4.65206H3.21087C3.51223 4.65148 3.80109 4.53151 4.01418 4.31842C4.22728 4.10532 4.34725 3.81646 4.34783 3.5151V2.91293H6.30435V3.51293C6.30435 3.81504 6.42436 4.10479 6.63799 4.31841C6.85162 4.53204 7.14136 4.65206 7.44348 4.65206H7.5587C7.86006 4.65148 8.14891 4.53151 8.36201 4.31842C8.57511 4.10532 8.69508 3.81646 8.69565 3.5151V2.91293H10.4348V3.51293C10.4348 3.81504 10.5548 4.10479 10.7684 4.31841C10.9821 4.53204 11.2718 4.65206 11.5739 4.65206H11.6891C11.9905 4.65148 12.2793 4.53151 12.4924 4.31842C12.7055 4.10532 12.8255 3.81646 12.8261 3.5151V2.91293H14.3478V16.6086Z' fill='%23757575'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 5;
    pointer-events: none;
  }
}

.product-review-wrapper {
  padding: 16px 16px 50px;
  background-color: #fff;
  box-shadow: 0px 4px 24px 0px rgba(218, 224, 232, 0.6);
  margin-top: 30px;

  @include responsive767 {
    margin-top: 0;
  }

  .btn {
    margin-top: 40px;
  }
}

.product-review__not {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 0 31px;
}

.product-review__list {
}

.product-review__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  color: #002246;

  @include responsive767 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    max-width: 800px;

    @include responsive1023 {
      max-width: 400px;
    }
  }

  & + .product-review__item {
    margin-top: 60px;

    @include responsive767 {
      margin-top: 30px;
    }
  }
}

.product-review__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  @include responsive767 {
    flex-direction: column;
    gap: 10px;
  }

  .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  .desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
  }

  .rang {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .star {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.61747 0.382568L11.7767 7.02808L18.7642 7.02808L13.1112 11.1352L15.2705 17.7807L9.61747 13.6736L3.96446 17.7807L6.12372 11.1352L0.470713 7.02808L7.45821 7.02808L9.61747 0.382568Z' fill='%23809CAB'/%3e%3c/svg%3e ");

    &.active {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.38309 0.382568L11.5424 7.02808L18.5299 7.02808L12.8768 11.1352L15.0361 17.7807L9.38309 13.6736L3.73009 17.7807L5.88934 11.1352L0.236338 7.02808L7.22384 7.02808L9.38309 0.382568Z' fill='%23002246'/%3e%3c/svg%3e ");
    }
  }

  .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
  }
}

.product-review__left {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include responsive767 {
    width: 100%;
  }
}

.product-review__right {
  display: flex;
  align-items: center;
  gap: 20px;

  @include responsive767 {
    width: 100%;
  }
}

.product-review__media {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;

  @include responsive1279 {
    gap: 16px;
  }

  @include responsive767 {
    width: 100%;
  }

  &.more {
    .site-media {
      display: none;

      &:nth-child(-n + 5) {
        display: flex;
      }
    }
  }

  .site-media {
    position: relative;
    width: 183px;
    height: 176px;

    @include responsive1279 {
      width: 179px;
      height: 151px;
    }

    @include responsive1023 {
      width: 128px;
      height: 110px;
    }

    @include responsive767 {
      width: 100%;
      height: auto;
      padding-top: calc(320 / 320 * 100%);
    }

    &:hover {
      .play {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }

    .count {
      font-size: 38px;
      font-weight: 600;
      line-height: 22px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      pointer-events: none;
      transition: all 0.3s;
      color: $colorWhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $colorBlack-a4;
    }

    .play {
      cursor: pointer;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.1549 9.14776C19.5809 9.97102 19.5809 12.0292 18.1549 12.8524L4.04828 20.9969C2.62235 21.8202 0.839945 20.7911 0.839945 19.1446L0.839945 2.85561C0.839945 1.20909 2.62235 0.180015 4.04828 1.00327L18.1549 9.14776Z' fill='white'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      background-color: #d9d9d9;
      pointer-events: none;
      transition: all 0.3s;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.product-availability {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 40px;
  padding-bottom: 10px;

  @include responsive767 {
    font-size: 12px;
    line-height: 16px;
  }

  .status {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    @include before {
      position: relative;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &--stock {
      color: #37a33b;

      &::before {
        background-color: #37a33b;
      }
    }
  }
}

.products-docs {
  display: flex;
  align-items: center;
  gap: 24px;

  @include responsive767 {
  }

  &__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  li {
  }

  a {
    background-image: url(../img/bg-docs.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    line-height: 22px;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
    }
  }
}

.optovik-section {
  padding: 0;

  .about-main {
    .caption {
      text-align: left;
    }
  }
}

.optovik-text {
  position: relative;
  width: 100%;

  @include responsive1279 {
    padding: 30px 0;
  }

  @include before {
    width: 100%;
    height: calc(135px + 55px);
    background-color: #e6e6e6;
    top: -55px;
    left: 0;
    z-index: -1;

    @include responsive1279 {
      height: 145px;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @include before {
      background-color: #a1d9f8;
      width: calc(100% + 60px);
      height: calc(100% + 60px);
      top: -30px;
      left: -30px;
      z-index: -1;
      pointer-events: none;

      @include responsive1279 {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      @include responsive767 {
        width: calc(100% + 30px);
        height: 100%;
        top: 0;
        left: -15px;
      }
    }

    @include responsive1279 {
      padding: 30px 32px;
    }

    @include responsive767 {
      padding: 16px 0;
      flex-direction: column;
    }
  }

  &__caption {
    padding-right: 20px;

    @include responsive767 {
      margin-bottom: 17px;
    }
  }

  &__text {
    max-width: 582px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    @include responsive1023 {
      max-width: 373px;
      font-size: 14px;
      line-height: 22px;
      gap: 20px;
    }

    @include responsive767 {
      width: 100%;
      max-width: 100%;
    }
  }
}

.optovik-adv {
  &__inner {
  }

  .caption {
    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 21px;
    margin-top: 100px;

    @include responsive1023 {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 80px;
    }

    @include responsive639 {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: $colorWhite;
    background-color: #3d5674;
    padding: 20px 80px 20px 20px;

    @include responsive639 {
      font-size: 18px;
      line-height: 22px;
    }

    span {
      max-width: 80%;
      display: block;
    }
  }

  .site-media {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 90px;
    transform: translateY(-50%);
    margin-bottom: -10px;
    margin-top: -20px;

    @include after {
      background: linear-gradient(180deg, #dcedf9 0%, #7897b0 100%);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    @include before {
      background-color: #617c95;
      box-shadow: 0px 4px 4px 0px #00000040;
      width: calc(100% + 15px);
      height: calc(50% + 15px);
      top: 50%;
      left: 0;
      z-index: -1;
    }

    picture {
      display: block;
    }

    img {
    }
  }
}

.optovik-category {
  background-color: #f5f6f8;
  padding: 45px 0;

  @include responsive767 {
    padding: 30px 0;
  }

  &__inner {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 30px;

    @include responsive1023 {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include responsive639 {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include responsive479 {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    height: 264px;
    z-index: 3;
    overflow: hidden;
    @include invisLink;
    background-color: #a1d9f8;

    @include before {
      width: calc(100% + 100px);
      height: calc(100% + 120px);
      background-color: #193c57;
      left: -235px;
      top: -180px;
      transform: rotate(45deg);

      @include responsive1279 {
        left: -192px;
        top: -130px;
        transform: rotate(49deg);
      }

      @include responsive479 {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: rotate(0deg);
        opacity: 0.33;
      }
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    @include responsive1279 {
      height: 186px;
    }

    &:hover {
      &::before {
        background-color: #a1d9f8;
        width: calc(100% + 290px);
        height: calc(100% + 290px);
        opacity: 0.9;
      }
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: $colorWhite;
    position: relative;
    z-index: 2;
    padding: 10px 16px;
    width: 100%;
    display: block;
    max-width: 90%;

    @include before {
      left: -40px;
      top: 0;
      width: calc(100% + 40px);
      height: 100%;
      background-color: #0c2038;
      z-index: -1;
      transform: skewX(-40deg);
    }

    @include responsive1599 {
      font-size: 16px;
      line-height: 24px;
      max-width: 100%;
    }

    @include responsive1279 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .site-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include before {
      width: 100%;
      height: 100%;
      background: #11578e80;
      z-index: 2;
      left: 0;
      top: 0;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.optovik-productions {
  background-color: #f5f6f8;

  .caption {
    text-align: left;
  }

  &__body {
    width: 100%;
    padding: 0 33px;
    position: relative;

    @include responsive479 {
      padding: 0;
    }
  }

  &__controls {
    @include responsive479 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 32px;
    }
  }

  .slider-optovik-productions {
    margin-top: 40px;

    @include responsive767 {
      margin-top: 20px;
    }

    .swiper-slide {
      height: 274px;
      position: relative;

      @include responsive1279 {
        height: 222px;
      }

      @include responsive1023 {
        height: 157px;
      }

      @include responsive479 {
        height: 304px;
      }
    }

    .site-media {
      width: 100%;
      height: 100%;
      @include invisLink;

      &:hover {
        &::before {
          opacity: 0.3;
        }
      }

      @include before {
        width: 100%;
        height: 100%;
        background-color: #a1d9f8;
        opacity: 0;
        left: 0;
        top: 0;
        z-index: 2;
      }

      picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &__prev {
      position: absolute;
      top: 50%;
      width: 20px;
      height: 23px;
      transform: translateY(-50%);
      transition: all 0.3s;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='24' viewBox='0 0 10 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.97493 23.4985L0 11.9985L8.97493 0.498535L10 1.74549L1.99964 11.9985L10 22.1697L8.97493 23.4985Z' fill='%23002246'/%3e%3c/svg%3e ");

      @include responsive479 {
        position: relative;
        top: auto;
        transform: translateY(0) scale(1);
      }

      &:hover {
        transform: translateY(-50%) scale(0.9);

        @include responsive479 {
          transform: translateY(0) scale(1);
        }
      }
    }

    &__next {
      position: absolute;
      top: 50%;
      width: 20px;
      height: 23px;
      transform: translateY(-50%);
      transition: all 0.3s;
      background-position: center;
      background-repeat: no-repeat;
      right: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='24' viewBox='0 0 10 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.02507 0.498535L10 11.9985L1.02507 23.4985L0 22.2516L8.00036 11.9985L0 1.82733L1.02507 0.498535Z' fill='%23002246'/%3e%3c/svg%3e ");

      @include responsive479 {
        position: relative;
        top: auto;
        transform: translateY(0) scale(1);
      }

      &:hover {
        transform: translateY(-50%) scale(0.9);

        @include responsive479 {
          transform: translateY(0) scale(1);
        }
      }
    }
  }
}

.optovik-partners {
  .caption {
    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    margin-top: 30px;

    @include responsive1023 {
      grid-template-columns: repeat(2, 1fr);
      max-width: 605px;
      margin-left: auto;
      margin-right: auto;
    }

    @include responsive767 {
      gap: 20px;
    }

    @include responsive639 {
      grid-template-columns: 1fr;
      margin-top: 20px;
    }
  }

  &__item {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: $colorWhite;
    box-shadow: 0px 0px 8px 0px #00224633;
    padding: 20px 10px;

    @include responsive767 {
      padding: 15px;
      min-height: 102px;
      padding: 0 10px;
    }
  }

  .num {
    font-size: 64px;
    font-weight: 600;
    line-height: 24px;
    color: #193c57;

    @include responsive767 {
      font-size: 40px;
      line-height: 42px;
    }

    @include responsive639 {
      margin: 0 auto;
    }
  }

  p {
    @include responsive639 {
      max-width: 60%;
      width: 100%;
      margin-left: auto;
    }
  }
}

.block-partners {
  padding-bottom: 140px;
  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  .caption {
    text-align: left;
    max-width: 500px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 900px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @include responsive1599 {
      max-width: 730px;
    }

    @include responsive1279 {
      max-width: 586px;
    }

    @include responsive1023 {
      max-width: 380px;
      gap: 25px;
    }
  }

  &__right {
    position: relative;
    transform: translateY(-60px);
    width: 432px;
    height: 400px;

    @include responsive767 {
      display: none;
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='414' height='414' viewBox='0 0 414 414' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='207' cy='206.997' r='207' fill='%235287B0'/%3e%3cellipse cx='231.5' cy='171.497' rx='182.5' ry='171.5' fill='%232F638B'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 414px;
      height: 414px;
      right: 70px;
      top: calc(50% - 105px);

      @include responsive1279 {
        width: 350px;
        height: 350px;
        background-size: contain;
      }

      @include responsive1023 {
        width: 275px;
        height: 275px;
        right: 0px;
        top: 60px;
      }
    }
  }

  .caption {
  }

  .input-item {
    max-width: 434px;
    width: 100%;
    margin-top: 30px;

    @include responsive1023 {
      max-width: 380px;
    }

    @include responsive767 {
      margin-top: 0;
    }
  }

  .btn {
    color: $colorWhite;
    max-width: 434px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    @include responsive1023 {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 434px;
    width: 100%;

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      transition: all 0.3s;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }

  .site-media {
    width: 100%;

    picture {
      img {
      }
    }
  }
}

.optovik-map {
  background-color: #f4f5f9;

  .caption {
    text-align: left;
  }

  .optovik-map__map {
    position: relative;
    width: 100%;

    @include responsive767 {
      margin-top: 24px;
    }
  }

  .site-media {
    @include invisLink;

    picture {
    }

    img {
    }

    &:hover {
      .loop {
        opacity: 1;
      }
    }
  }

  .loop {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M60.0889 64L36.7111 40.6222C34.9333 42.163 32.8593 43.363 30.4889 44.2222C28.1185 45.0815 25.6 45.5111 22.9333 45.5111C16.5333 45.5111 11.1111 43.2889 6.66667 38.8444C2.22222 34.4 0 29.037 0 22.7556C0 16.4741 2.22222 11.1111 6.66667 6.66667C11.1111 2.22222 16.5037 0 22.8444 0C29.1259 0 34.4741 2.22222 38.8889 6.66667C43.3037 11.1111 45.5111 16.4741 45.5111 22.7556C45.5111 25.3037 45.0963 27.763 44.2667 30.1333C43.437 32.5037 42.1926 34.7259 40.5333 36.8L64 60.0889L60.0889 64ZM22.8444 40.1778C27.6444 40.1778 31.7333 38.4741 35.1111 35.0667C38.4889 31.6593 40.1778 27.5556 40.1778 22.7556C40.1778 17.9556 38.4889 13.8519 35.1111 10.4444C31.7333 7.03704 27.6444 5.33333 22.8444 5.33333C17.9852 5.33333 13.8519 7.03704 10.4444 10.4444C7.03704 13.8519 5.33333 17.9556 5.33333 22.7556C5.33333 27.5556 7.03704 31.6593 10.4444 35.0667C13.8519 38.4741 17.9852 40.1778 22.8444 40.1778Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
    z-index: 3;

    @include responsive1279 {
      opacity: 1;
      width: 54px;
      height: 54px;
      background-size: contain;
    }
  }
}

.product-item {
  position: relative;

  p {
    @include responsive1199 {
      min-height: 50px;
    }
  }

  &.hover {
    z-index: 5;
  }

  &:hover {
    .product-invis {
      pointer-events: initial;
      opacity: 1;
    }
  }
}

.product-invis {
  position: absolute;
  left: 0;
  top: calc(100% - 10px);
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  padding: 0 16px;
  background-color: #fff;
  pointer-events: none;
  z-index: 6;
  box-shadow: 0px 24px 24px rgba(218, 224, 232, 0.6);

  @include responsive1199 {
    position: relative;
    top: auto;
    opacity: 1;
    pointer-events: initial;
    background: transparent;
    box-shadow: initial;
    padding: 0;
  }
}

.filter-block.filter {
  position: sticky;
  top: 180px;
  left: 0;
  max-height: calc(100vh - 190px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #2d2d2d1a;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #002246;
    border-radius: 4px;
  }
}

.text-section__leftSide {
  width: calc(100% - 820px);

  @include responsive1599 {
    width: calc(100% - 588px);
  }
}

.text-section__rightSide {
  width: 70%;
  max-width: 808px;
  padding-bottom: 30px;

  @include responsive1599 {
    max-width: 588px;
    padding-bottom: 0px;
  }
}

.basket__inner {
  .basket-table {
    width: 100%;
    max-width: 1024px;

    @include responsive1599 {
      max-width: 802px;
    }
  }
}

.checkout-list {
  width: 100%;
  max-width: 1024px;

  @include responsive1599 {
    max-width: 802px;
  }
}

.product-info {
  max-width: 500px;
  width: 100%;

  @include responsive1599 {
    max-width: 315px;
  }
}

.product-characteristics {
  max-width: 500px;

  @include responsive1599 {
    max-width: 425px;
  }
}

.product-section__text {
  .products-docs {
    & + p {
      max-width: 860px;

      @include responsive1599 {
        max-width: 425px;
      }
    }
  }
}
