@media (max-width: 1023px) {
  .callback-link {
    &__mobile {
      display: block;
    }

    &__text {
      display: none;
    }
  }

  .menu-link {
    font-size: 10px;
    line-height: 12px;
  }

  .sub-link {
    font-size: 12px;
    line-height: 14px;
  }

  .phone-link {
    font-size: 12px;
    line-height: 15px;
  }

  .link-menuCatalog {
    font-size: 12px;
    line-height: 15px;
  }

  .search-link-mobile {
    display: block;
  }

  .search-block {
    max-width: 232px;
    display: none;
  }

  .header-top__inner {
    padding: 14px 0;
  }

  .header-bottom {
    .logo-wrapper {
      width: 120px;
    }
  }

  .header-bottom__inner {
    padding: 8px 0;
  }

  .header-basket {
    font-size: 8px;
    line-height: 10px;
    border: 0;
  }

  .favorite-block {
    font-size: 8px;
    line-height: 10px;
  }

  .search-block {
    input {
      font-size: 8px;
      line-height: 10px;
    }
  }

  .footer__inner {
    padding: 30px 0;
  }

  .footer__rightSide {
    max-width: 361px;
  }

  .footer-gallery {
    ul {
      gap: 5px;
    }

    li {
      width: calc(50% - 3px);
    }

    .picture {
      height: 111px;
    }
  }

  .footer__leftSide {
    width: calc(100% - 365px);
  }

  .footer__leftSide .logo-wrapper {
    width: 146px;
  }

  .footer__caption {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__inner {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__col {
    max-width: 165px;
  }

  .footer-links {
    gap: 40px;
  }

  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 0px;

    .footer__col {
      &:nth-child(1) {
        grid-column: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/3;
      }
      &:nth-child(3) {
        grid-column: 1/2;
      }
    }
  }

  .caption {
    font-size: 24px;
    line-height: 29px;
  }

  .caption-desc {
    font-size: 16px;
    line-height: 20px;
  }

  .btn {
    font-size: 12px;
    line-height: 15px;
  }

  .input-item {
    input {
      font-size: 12px;
      line-height: 15px;
      height: 35px;
      padding-left: 13px;
      padding-right: 13px;
    }

    textarea {
      font-size: 12px;
      line-height: 15px;
      padding-top: 7px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }

  section {
    padding: 30px 0;
  }

  .questions-from {
    margin-top: 16px;
    gap: 16px;

    textarea {
      height: 69px;
    }
  }

  .text-simple {
    font-size: 14px;
    line-height: 17px;
  }

  .text-section__leftSide {
    width: 100%;
    max-width: 100%;
  }

  .text-section__slider {
    max-width: 100%;
  }

  .text-section__rightSide {
    width: 100%;
    max-width: 100%;
    margin-top: 34px;
  }

  .text-section__slider .picture {
    height: 400px;
  }

  .video-section {
    height: 300px;

    .video__link {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .about-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-item {
    font-size: 14px;
    line-height: 17px;
    min-height: 147px;

    &:nth-child(2n) {
      &::before {
        display: none !important;
      }
    }

    &:nth-child(3n) {
      &::before {
        display: block;
      }
    }
  }

  .about-item::before {
    right: 0;
    @include transform(rotate(14deg));
  }

  .about-item__content {
    max-width: 316px;
  }

  .article-item {
    .picture {
      padding-top: calc(122 / 235 * 100%);
      margin-bottom: 15px;
      padding-left: 11px;
      padding-right: 11px;
    }
  }

  .article-item__tags li {
    font-size: 10px;
    line-height: 12px;
    padding: 4px 6px;
  }

  .article-item__name {
    font-size: 12px;
    line-height: 15px;
  }

  .article-more {
    font-size: 12px;
    line-height: 15px;
  }

  .catalog-item {
    width: calc(100% / 3 - 24px);
  }

  .catalog {
    padding: 30px 0;
  }

  .product-item__price {
    font-size: 20px;
  }

  .cabinet-block {
    gap: 10px;
  }

  .cabinet-block__text {
    font-size: 8px;
    line-height: 10px;
  }

  .banner-pictures {
    .invis-text {
      display: none;
    }
  }

  .banner-pictures__slider {
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    &.swiper-backface-hidden {
      .swiper-slide {
        @include transform(skew(-28deg));
      }
    }

    .swiper-slide-active {
    }

    .swiper-pagination {
      margin-top: 20px;
      gap: 10px;

      .swiper-pagination-bullet {
        background-color: transparent;
        width: 8px;
        height: 8px;
        border: solid 2px $colorWhite;
        @include border-radius(50%);
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        border-color: rgba(65, 192, 235, 1);
      }
    }
  }

  .banner-pictures__box {
    height: 300px;
    flex-shrink: 0;
    @include box-shadow(0px 0px 10px 0px rgba(255, 255, 255, 0.33));

    &:hover {
      &::before {
        opacity: 0;
      }

      .banner-box__mobile {
        color: $colorWhite;

        &::before {
          background-color: rgba(25, 60, 87, 1);
        }
      }
    }
  }

  .banner-pictures__box.large {
    width: 200px;
  }

  .banner-main {
    background-color: #193c57;
    padding: 16px 0 38px;
    position: relative;

    @include before {
      left: 0;
      top: 0;
      width: 20%;
      height: 100%;
      z-index: 3;
      pointer-events: none;
      background: linear-gradient(
        90deg,
        rgba(25, 60, 87, 0.8) 0%,
        rgba(25, 60, 87, 0.49) 0%,
        rgba(25, 60, 87, 0.3) 45.55%,
        rgba(25, 60, 87, 0) 100%
      );
    }

    @include after {
      right: 0;
      top: 0;
      width: 20%;
      height: 100%;
      z-index: 3;
      @include transform(scale(-1, 1));
      pointer-events: none;
      background: linear-gradient(
        90deg,
        rgba(25, 60, 87, 0.8) 0%,
        rgba(25, 60, 87, 0.49) 0%,
        rgba(25, 60, 87, 0.3) 45.55%,
        rgba(25, 60, 87, 0) 100%
      );
    }
  }

  .banner-box__mobile {
    margin-top: auto;
    display: flex;
  }

  .banner-main__bottom {
    display: none;
  }

  .menu-catalog {
    left: -15px;
    width: 260px;

    ul {
      font-size: 12px;
      padding-top: 8px;
      padding-bottom: 8px;

      li {
        & + li {
          margin-top: 0;
        }

        a {
          padding: 8px 16px;
        }
      }
    }

    .submenu-catalog {
      width: 508px;
      padding: 8px 16px;

      li {
        max-width: 220px;
        padding-right: 20px;

        a {
          padding: 8px 0;
        }
      }

      &--inner {
        li {
          padding-right: 0;

          a {
            padding: 0;
          }

          & + li {
            margin-top: 10px;
          }
        }
      }
    }
  }

  #modal-city {
    .modal__inner {
      max-width: 582px;
    }
  }

  .modal__inner {
    .caption {
      font-size: 16px;
    }

    .modals-caption {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .modal__close {
    right: 30px;
    top: 33px;
  }

  .city-list li {
    font-size: 12px;
  }

  .city-list__list {
    gap: 18px 0;
  }

  .city-list__wrapper {
    height: 330px;
  }

  #modal-your-city {
    .caption {
      font-size: 12px;
    }
  }

  .breadcrumbs {
    padding: 13px 0 13px;
  }

  .category-list {
    gap: 21px;
  }

  .category-item {
    font-size: 12px;
    line-height: 15px;
    height: 80px;
    width: calc(100% / 4 - 16px);
  }

  .text-simple {
    font-size: 14px;
    line-height: 17px;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .catalog-page {
    padding: 0;
  }

  .select-sort {
    width: 100%;
    min-width: inherit;

    .selectric-wrapper {
      width: 155px;
    }
  }

  .catalog-tags {
    margin-top: 18px;

    li {
      font-size: 12px;
      padding: 3px 10px;
    }

    .btn-clear {
      height: 34px;
      font-size: 12px;
      padding: 3px 10px;
    }
  }

  .catalog-page .catalog-item {
    width: calc(100% / 3 - 24px);
  }

  .filter-block__title .caption {
    font-size: 16px;
  }

  .filter-block__caption {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 13px;
  }

  .filter-range__inputs input {
    height: 36px;
    font-size: 12px;
  }

  .range-slider {
    margin-top: 10px;
  }

  .filter-block .input-item input {
    font-size: 12px;
  }

  .chek-item {
    font-size: 12px;
    line-height: 15px;

    label {
      &::after,
      &::before {
        left: 3px;
      }
    }
  }

  .chek-item + .chek-item {
    margin-top: 17px;
  }

  .check-list {
    height: 116px;
  }

  .filter-block__caption + .check-list__wrapper {
    margin-top: 18px;
  }

  .categoryes-list .catergory-link {
    font-size: 12px;
    line-height: 15px;
  }

  .categoryes-sub {
    a {
      font-size: 12px;
    }
  }

  .marketplace-item__link {
    gap: 16px;
  }

  .marketplace-item .picture img {
    min-height: 60px;
  }

  .marketplace-item .picture {
    max-width: 102px;
    margin-bottom: -5px;
  }

  .marketplace .caption {
    margin-bottom: 5px;
  }

  .marketplace {
    padding: 30px 0;
    margin: 20px 0;
  }

  .marketplace-item {
    width: calc(100% / 4 - 16px);
    gap: 0;
  }

  .marketplace-list {
    gap: 21px;
  }

  .product-section__vendorcode {
    font-size: 16px;
    line-height: 20px;
  }

  .product-section__text {
    font-size: 14px;
    line-height: 17px;
  }

  .product-section__title .btn-favorire {
    @include transform(translateY(-1px));
  }

  .product-applications__list li {
    font-size: 14px;
    line-height: 17px;
  }

  .product-section .product-settings .select-wrapper .select-head label,
  .product-section .product-section__caption {
    font-size: 14px;
    line-height: 17px;
    width: auto;
  }

  .product-section__left {
    width: 100%;
    max-width: 100%;
  }

  .product-section__right {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }

  .product-section__left .product-new {
    font-size: 12px;
    line-height: 12px;
  }

  .price-block {
    font-size: 24px;
    line-height: 29px;

    .old {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .product-section__details {
    padding: 19px 0 8px;
  }

  .link-rectangle {
    font-size: 12px;
    line-height: 15px;

    &::before {
      width: calc(100% - 32px);
      left: 15px;
    }
  }

  .product-section__tabs .tabs-link {
    height: 40px;
  }

  .product-details {
    font-size: 14px;
    line-height: 17px;

    h2,
    h3 {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .product-small__slider {
    max-width: 400px;
    width: 100%;
  }

  .about-product .about-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-product .about-item {
    min-height: 145px;
  }

  .about-product .about-item__content {
    padding: 0 15px;
  }

  .other-product {
    padding: 50px 0;
  }

  .subscribe-block {
    .caption-desc {
      max-width: 100%;
      width: 100%;
    }

    &__inner {
      gap: 20px 10px;
      flex-wrap: wrap;
    }

    input {
      flex: 1;
      max-width: 100%;
      height: 45px;
      font-size: 12px;
      line-height: 16px;
      margin: 0;
    }

    .btn {
      max-width: 290px;
    }
  }

  .basket__inner {
    padding-bottom: 40px;
  }

  .basket__inner .basket-table {
    width: 100%;
    max-width: 100%;
  }

  .basket-table .basket-clear {
    white-space: nowrap;
  }

  .basket__inner .caption {
    margin-bottom: 20px;
  }

  .basket-table .basket-delete {
    flex-direction: row;
  }

  .basket-table .td {
    padding: 10px 0;
  }

  .basket-order {
    width: 100%;
    margin-top: 8px;
    position: relative;
  }

  .basket-order__controls {
    display: flex;
    justify-content: center;
    gap: 16px;

    .btn {
      width: calc(100% - 8px);
      max-width: 345px;

      & + .btn {
        margin-top: 0;
      }
    }
  }

  .checkout-list {
    width: 100%;
    padding-bottom: 0;
  }

  .checkout-item + .checkout-item {
    margin-top: 10px;
  }

  .input-list {
    .selectric {
      height: 45px;
    }

    .input-item {
      input {
        height: 45px;
      }

      textarea {
        padding-top: 13px;
      }
    }
  }

  #modal-back-call,
  #modal-success-moderations,
  #modal-success-registation,
  #modal-success,
  #modal-login,
  #modal-authorization,
  #modal-your-details,
  #modal-checkout {
    .modal__inner {
      max-width: 400px;
    }
  }

  #modal-registrations {
    .modal__inner {
      max-width: 738px;
    }
  }

  .modal-custom {
    padding: 60px 0 20px;
  }

  .modal-checkout .btn + .btn {
    margin-top: 16px;
  }

  .modal-checkout {
  }

  .modal-checkout__controls {
    max-width: 282px;
    margin-top: 20px;
  }

  .modal-checkout__links {
    margin-top: 16px;
  }

  .modal-yourDetails .input-form {
    max-width: 282px;
    margin-top: 20px;
  }

  .modal__content {
    .input-form {
      .label {
        font-size: 14px;
        line-height: 17px;
        padding: 13px 13px;
      }

      .input-item {
        & + .input-item {
          margin-top: 16px;
        }
      }
    }

    input {
      font-size: 14px;
      line-height: 17px;
      height: 45px;
    }
  }

  .modal__content__text {
    margin-top: 20px;

    & + .input-form {
      margin-top: 16px !important;
    }
  }

  .modal-registartions {
    padding-left: 20px;
    padding-right: 20px;

    .tabs {
      margin-top: 20px;

      .tabs-links {
        max-width: 552px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        a {
          height: 40px;
        }
      }
    }
  }

  .registartion-row .caption {
    margin-bottom: 16px;
  }

  .registartion-controls {
    margin-top: 16px;
  }

  .file-load label {
    gap: 15px;
  }

  .file-load__doc {
    font-size: 14px;
    line-height: 17px;
  }

  .file-load__text {
    font-size: 12px;
    line-height: 15px;
  }

  .tabs-inner__links {
    position: relative;
    z-index: 5;
    gap: 20px;
    margin-bottom: 20px;

    li {
      a {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  #modal-addBasket {
    .modal__inner {
      max-width: 400px;
    }
  }

  .modal-addBasket .modal-checkout__controls {
    max-width: 330px;
  }

  .product-small {
    max-width: 330px;
  }

  .modal-checkout .modal-checkout__controls {
    margin-top: 20px;
  }

  .cabinet-section {
    .cabinet-section__tabs {
      flex-wrap: wrap;
      position: relative;

      @include before {
        right: -15px;
        top: -10px;
        width: 40px;
        height: 50px;
        z-index: 4;
        pointer-events: none;
        background: linear-gradient(
          270deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      @include after {
        left: -25px;
        top: -10px;
        width: 40px;
        height: 50px;
        z-index: 4;
        pointer-events: none;
        background: linear-gradient(
          270deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );

        @include transform(scale(-1, 1));
      }
    }

    .tabs-links {
      width: 100%;
      display: flex;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        width: 0;
        background-color: transparent;
      }

      scrollbar-color: transparent transparent;
      scrollbar-width: thin;

      li {
        & + li {
          margin-top: 0;
        }
      }

      button {
        margin-top: 0;
      }
    }

    .tabs-link {
      min-width: 184px;
      height: 40px;
    }

    .tabs-body {
      width: 100%;
      margin-top: 20px;
    }

    .input-item .btn-change {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .cabinet-body__head {
    font-size: 16px;
    line-height: 20px;
  }

  .input-item.input-item--first label {
    font-size: 14px;
    line-height: 17px;
    padding-top: 0;
  }

  .profile-table .caption {
    font-size: 14px;
    line-height: 17px;
    padding-top: 0;
  }

  .documents {
    .list-links {
      gap: 20px;

      .tabs-link {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .doc-item {
    font-size: 14px;
    line-height: 17px;
  }

  .doc-item__controls a {
    font-size: 12px;
    line-height: 15px;
  }

  .cabinet-section .text-simple ul {
    margin: 16px 0;
  }

  .cabinet-section .text-simple ul li + li {
    margin-top: 16px;
  }

  .cabinet-section .text-simple h2,
  .cabinet-section .text-simple h3,
  .cabinet-section .text-simple h4 {
    font-size: 14px;
    line-height: 17px;
  }

  .cabinet-section .text-simple {
    font-size: 12px;
    line-height: 15px;
  }

  .category-catalog {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .category-catalog__item {
    height: 282px;
  }

  .category-catalog__go {
    bottom: 13px;
    right: 5px;
  }

  .category-catalog__name {
    min-height: inherit;
    margin-bottom: 18px;
  }

  .category-catalog__menu.visible {
    height: 190px;
  }
  .login-section {
    .input-item {
      input {
        height: 45px;
      }
    }
  }

  .login-section__inner{
    gap: 16px;
  }

  .login-section .input-form{
    gap: 16px;
  }

  .login-section__inner{
    max-width: 282px;
  }
}
