@media (max-width: 767px) {
  .callback-link {
    font-size: 12px;
    line-height: 15px;
  }

  .callback-link__mobile {
    display: none;
  }

  .callback-link__text {
    display: block;
  }

  .search-block {
    display: none;
  }

  .search-link-mobile {
    display: block;
    position: relative;
    order: -1;
    margin-left: 11px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .adress-block {
    display: none;
  }

  .header-basket__text {
    display: none;
  }

  .header-basket__basket .icon {
    width: 24px;
    height: 24px;
  }

  .favorite-block {
    .icon {
      width: 24px;
    }

    &__text {
      display: none;
    }
  }

  .header-basket {
    padding: 0;
    border: 0;
  }

  .link-menuCatalog {
    display: none;
  }

  .header-bottom__inner {
    padding: 7px 0;
    gap: 18px;
  }

  .header-bottom {
    .logo-wrapper {
      width: 80px;
      margin: 0 auto;
      left: 35px;
    }
  }

  .burger {
    display: flex;
  }

  .header-basket__basket {
    .count {
      width: 12px;
      height: 12px;
      font-size: 8px;
      line-height: 10px;
      top: -2px;
      right: -3px;
    }
  }

  .favorite-block {
    .count {
      width: 12px;
      height: 12px;
      font-size: 8px;
      line-height: 10px;
      top: -2px;
    }
  }

  .footer__caption {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__title {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__inner {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__bottom {
    font-size: 10px;
    line-height: 12px;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
  }

  .footer-links {
    gap: 10px;
    justify-content: center;
    margin: 10px auto;
  }

  .footer__leftSide {
    width: 100%;
    max-width: 100%;
  }

  .footer__leftSide .logo-wrapper {
    width: 99px;
    margin-bottom: 17px;
  }

  .footer__inner {
    padding: 20px 0;
  }

  .footer__row {
    display: block;
    width: 100%;
    margin-top: 17px;
  }

  .footer__title {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;

    @include before {
      border-top: solid 4px #174663;
      border-left: solid 4px transparent;
      border-right: solid 4px transparent;
      border-bottom: solid 0px transparent;
      left: 4px;
      top: 50%;
      margin-top: -1px;
    }

    &.open {
      &::before {
        @include transform(scale(1, -1));
      }
    }
  }

  .footer__list {
    display: none;
    padding-bottom: 15px;
  }

  .footer-gallery .picture {
    height: 76px;
  }

  .caption {
    font-size: 18px;
    line-height: 22px;
  }

  .caption-desc {
    font-size: 14px;
    line-height: 17px;
  }

  section {
    padding: 20px 0;
  }

  .catalog-favorite {
    padding: 20px 0;
  }

  .questions-from {
    margin-top: 30px;
    gap: 16px;

    .input-item {
      width: 100% !important;
    }
  }

  .questions-from__controls {
    flex-wrap: wrap;
    gap: 15px;

    .btn {
      width: 100%;
      max-width: 100%;
    }
  }

  .text-section__slider .picture {
    height: auto;
  }

  .text-section__rightSide .btn {
    width: 100%;
    max-width: 100%;
  }

  .video-section {
    height: 200px;
    padding: 20px;
  }

  .video__link {
    font-size: 12px;
    line-height: 15px;
  }

  .about-list {
    margin: 16px auto 0;
    gap: 16px 0;
  }

  .about-item {
    font-size: 12px;
    line-height: 15px;
    min-height: 120px;
    padding-top: 16px;

    & + .about-item {
      border-top: 1px solid #002246;
    }

    &:nth-child(2) {
      border-top: 0;
    }

    &::before {
      display: none !important;
    }
  }

  .about-item__content {
    max-width: 100%;
    padding: 0;
  }

  .article-item {
    width: 100%;

    .picture {
      padding-top: calc(135 / 320 * 100%);
      margin-bottom: 16px;
    }
  }

  .article-main .article-list {
    margin-top: 16px;
  }

  .article-item__name {
    height: inherit;
  }

  .catalog-item {
    width: calc(100% / 2 - 24px);
  }

  .header-menu-mobile {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    overflow: auto;
    z-index: 9;
    color: $colorBlack;

    li {
      position: relative;
      padding: 0 5px;

      &:not(.active) {
        &:hover {
          .menu-link::before {
            @include transform(scale(1, 1));
          }
        }
      }

      & + li {
        margin-top: 20px;
      }
    }

    .menu__list {
      display: none;
      padding: 0 10px;
    }

    .caption {
      color: $colorBlack;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .menu-link {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }

  .menu li:hover .sub-menu {
    display: none;
  }

  .sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 0;

    li {
      padding-left: 0;
      padding-right: 0;

      & + li {
        margin-top: 16px;
      }

      .sub-menu {
        li {
          & + li {
            margin-top: 12px;
            padding-top: 12px;
          }
        }
      }
    }
  }

  .sub-link {
    display: block;
  }

  .burger-mobile__title {
    cursor: pointer;
    color: $colorBlack;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
    margin-bottom: 18px;
    display: block;

    @include before {
      border-top: solid 5px $colorBlack;
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
      border-bottom: solid 0px transparent;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }

    &.active {
      &::before {
        @include transform(scale(1, -1));
      }
    }
  }

  .caption.caption--mobile {
    display: block;
  }

  .menu-mobile-catalog {
    display: block;
    margin-bottom: 18px;

    .menu__list {
      display: block;
    }
  }

  .burger-block {
    display: block;
    order: -1;
  }

  .burger {
    &.active {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 10;
    }
  }

  .cabinet-block__icon {
    width: 24px;
    height: 24px;
  }

  .header-links {
    gap: 10px;
    flex-direction: row-reverse;
  }

  .catalog__controls {
    margin-top: 16px;
  }

  .search-invis {
    padding: 15px 10px;
  }

  .adress-block--mobile {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .menu-catalog {
    display: none !important;
  }

  .burger-block__click {
    display: none !important;
  }

  #modal-city .modal__inner {
    max-width: 680px;
    padding: 20px;
  }

  .modal__inner {
    .modals-caption {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .modal__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal__close {
    right: 20px;
    top: 25px;
  }

  .category-item {
    width: 100%;
    min-width: initial;
  }

  .category-list {
    height: auto;
    max-height: initial;
    overflow: hidden;
    transition: height 0.3s;
  }

  .breadcrumbs {
    ul {
      display: none;
    }

    .back-link {
      display: flex;
    }
  }

  .catergory-section {
    padding: 20px 0;
  }

  .text-simple {
    h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
    }
  }

  .select-sort {
    order: 4;
  }

  .catalog-sort {
    gap: 8px;
  }

  .catalog-page .catalog-item {
    width: calc(50% - 24px);
  }

  .btn-sort-mobile {
    font-size: 12px;
    gap: 6px;
  }

  .select-count__text {
    font-size: 12px;
  }

  .catalog-sort .select-sort .label {
    padding-left: 28px;
  }

  .select-sort .select-sort__name,
  .catalog-sort .selectric .label {
    font-size: 12px;
  }

  .catalog-page {
    padding: 18px 0;
  }

  .selectric-scroll ul li {
    font-size: 12px;
    padding: 5px 10px;
  }

  .catalog-sort {
    gap: 2px 8px;
  }

  .catalog-tags {
    margin-top: 12px;
    gap: 11px;

    ul {
      gap: 11px;
    }

    li {
      padding: 5px 10px;
    }

    .btn-close {
      height: 16px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .btn-clear {
      padding: 5px 10px;
      height: 29px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .product-item__price--sale .old {
    font-size: 14px;
  }

  .pagination {
    display: none;
  }

  .filter-block {
    width: 290px;
  }

  .category-item {
    &:hover {
      &::before {
        opacity: 1;
      }

      .category-item__text {
        text-decoration-color: transparent;
      }
    }
  }

  .marketplace-item {
    width: calc(100% / 2 - 16px);
    gap: 0;
  }

  .marketplace-list {
    gap: 16px 29px;
  }

  .marketplace-item .picture {
    max-width: 82px;
  }

  .marketplace {
    overflow: hidden;
    left: 0;
    padding: 21px 0;
    width: 100%;
  }

  .product-page {
    padding: 5px 0;
  }

  .product-section__vendorcode {
    font-size: 10px;
    line-height: 16px;
  }

  .product-section__text {
    font-size: 12px;
    line-height: 15px;
  }

  .product-section__text--first {
    min-height: initial;
    margin-top: 0;
  }

  .product-characteristics {
    display: none;
  }

  .product-section__title .btn-favorire svg {
    width: 24px;
    height: 24px;
  }

  .product-section__title .btn-favorire {
    @include transform(translateY(-1px));
    width: 24px;
    height: 24px;
  }

  .product-applications {
    padding: 10px 0;
    margin-top: 10px;
  }

  .product-applications__list li {
    font-size: 12px;
    line-height: 15px;
  }

  .product-applications__list li img,
  .product-applications__list li svg {
    width: 16px;
    height: 16px;
  }

  .product-section .product-settings .select-wrapper .select-head label,
  .product-section .product-section__caption {
    font-size: 12px;
    line-height: 15px;
  }

  .product-section .product-section__caption {
    margin-bottom: 10px;
  }

  .product-section {
    .product-settings {
      padding: 10px 0;
      gap: 10px;

      .product-settings_line {
        width: 100%;
      }
    }
  }

  .product-section__controls {
    padding: 10px 0;
    gap: 6px;
    padding-top: 20px;
  }

  .product-section__details {
    padding: 20px 0 0px;
  }

  .product-details {
    font-size: 12px;
    line-height: 15px;
    padding: 10px;

    h2,
    h3 {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 5px;
    }
  }

  .product-card-docs__link {
    font-size: 12px;
    line-height: 15px;

    img {
      width: 20px;
    }
  }

  .price-block__wrap {
    margin-left: auto;
  }

  .product-small__slider {
    max-width: 400px;
    width: 100%;
  }

  .product-big__slider {
    margin-bottom: 10px;

    .swiper-slide {
      height: 338px;
    }

    .picture {
      width: 200px;
      height: 200px;
    }
  }

  .product-small__slider {
    .picture {
      height: 50px;
    }

    .swiper-slide {
      height: 65px;
    }
  }

  .product-section__left .product-new {
    left: 16px;
    top: 16px;
    padding: 7px 10px;
  }

  .marketplace-item__link {
    font-size: 12px;
    line-height: 15px;
    gap: 10px;
  }

  .about-product .about-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-product .about-item__content {
    padding: 0 5px;
    font-size: 11px;
    line-height: 14px;
  }

  .about-item .icon {
    width: 60px;
    height: 60px;
  }

  .about-item .icon img {
    width: 25px;
  }

  .about-product .about-item:nth-child(2) {
    border: 0;
  }

  .about-product .about-item {
    min-height: 145px;
  }

  .about-product {
    padding: 0;
  }

  .about-item .icon + * {
    margin-top: 9px;
  }

  .about-product .about-item {
    min-height: 112px;
  }

  .other-product__inner .caption {
    margin-bottom: 16px;
  }

  .other-product {
    padding: 36px 0;
  }

  .other-product__slider .swiper-controls {
    margin-top: 28px;
  }

  .product-mobile__tabs {
    display: block;
    margin-bottom: 20px;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 40px;
      padding: 0 20px;

      &.active {
        color: rgba(65, 192, 235, 1);

        &::before {
          background-color: rgba(25, 60, 87, 1);
        }
      }
    }

    .swiper-pagination-bullets {
      gap: 10px;
      margin-top: 16px;

      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        @include border-radius(50%);
        border: solid 1px rgba(25, 60, 87, 1);
        background-color: $colorWhite;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        border-color: rgba(65, 192, 235, 1);
      }
    }
  }

  .basket__inner .caption {
    margin-bottom: 16px;
  }

  .basket-table {
    .table {
      display: block;
    }

    .thead {
      display: none;
    }

    .tbody {
      display: block;
    }

    .tr {
      padding: 4px 0;
      display: grid;
      grid-template-columns: 120px 1fr;

      & + .tr {
        border-top: solid 1px #002246;
      }

      &:last-child {
        border-bottom: solid 1px #002246;
      }
    }

    .td {
      position: relative;
      padding: 5px 0;
      border: 0 !important;

      &:first-child {
        grid-column: 2/2;
        width: 100%;
      }

      &:nth-child(2) {
        grid-column: 2/2;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:nth-child(3) {
        grid-column: 2/2;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &.td-count {
        grid-column: 2/2;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:last-child {
        width: 100%;
        grid-column: 2/2;
        justify-content: flex-end;
        display: flex;
      }
    }

    .mobile-title {
      display: block;
      margin-right: auto;
      font-weight: 500;
    }

    .basket-table__box {
      width: 100%;
      justify-content: flex-start;
    }

    .count-block {
      padding-top: 45px;
    }
  }

  .basket-table .picture {
    width: 110px;
    height: 110px;
    position: absolute;
    left: -120px;
    top: 10px;
  }

  .basket-table__body {
    width: 100%;
  }

  .basket-table .price-basket {
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    padding-top: 15px;
    width: auto;
  }

  .basket-table .basket-delete {
    margin-left: auto;
  }

  .basket-order__caption {
    font-size: 16px;
    line-height: 20px;
  }

  .basket-order__list {
    li {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .basket-order__list li.result .basket-order__title {
    font-size: 14px;
  }

  .basket-order__list li.result .basket-order__price {
    font-size: 16px;
  }

  .final-cost__item {
    font-size: 14px;
    line-height: 17px;

    &.result {
      .basket-order__title {
        font-size: 14px;
      }

      .basket-order__price {
        font-size: 16px;
      }
    }
  }

  .basket-order__controls {
    flex-direction: column;

    .btn {
      width: 100%;
      max-width: 100%;
    }
  }

  .checkout-item__head .number {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 17px;
  }

  .checkout-item__head .title {
    font-size: 14px;
    line-height: 17px;
  }

  .checkout-item__head {
    gap: 9px;
  }

  .checkout-list {
    .basket-table {
      .tr {
        padding: 8px 0;
        grid-template-columns: 89px 1fr;
      }

      .picture {
        width: 78px;
        height: 78px;
        left: -90px;
      }
    }
  }

  .price-basket {
    padding-top: 0;
  }

  .input-list label {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
    padding-top: 0;
  }

  .input-list .input-item__form {
    width: 100%;
  }

  .checkout-item__body {
    padding-top: 16px;
  }

  .checkout-controls .btnCheck-next,
  .checkout-controls .btnCheck-prev {
    font-size: 12px;
    gap: 10px;
  }

  .input-list .input-item textarea {
    height: 75px;
  }

  .checkout-list .check-list .chek-item label {
    font-size: 12px;
    line-height: 15px;
    padding-left: 29px;
    gap: 10px;
  }

  .checkout-list .delivery-info {
    font-size: 12px;
    line-height: 16px;
  }

  #modal-resume,
  #modal-back-call,
  #modal-success-moderations,
  #modal-success-registation,
  #modal-success,
  #modal-login,
  #modal-authorization,
  #modal-your-details,
  #modal-checkout {
    .modal__inner {
      max-width: 290px;
    }
  }

  #modal-registrations {
    .modal__inner {
      max-width: 100%;
      width: 100%;
    }
  }

  .modal-custom {
    padding: 48px 16px 16px;
  }

  .modal-checkout .btn + .btn {
    margin-top: 16px;
  }

  .modal-checkout {
  }

  .modal-checkout__controls {
    max-width: 258px;
    margin-top: 16px;
  }

  .modal-checkout__links {
    margin-top: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0;
  }

  .modal-yourDetails .input-form {
    max-width: 258px;
    margin-top: 16px;
  }

  .modal__content__text {
    margin-top: 16px;
    max-width: 258px;
  }

  .registartion-col {
    width: 100%;

    & + .registartion-col {
      margin-top: 16px;
    }
  }

  .registartion-row .input-item + .input-item {
    margin-top: 16px;
  }

  .modal-registartions {
    padding-left: 16px;
    padding-right: 16px;

    .tabs {
      position: relative;

      @include before {
        right: -15px;
        top: -10px;
        width: 40px;
        height: 50px;
        z-index: 4;
        pointer-events: none;
        background: linear-gradient(
          270deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      @include after {
        left: -15px;
        top: -10px;
        width: 40px;
        height: 50px;
        z-index: 4;
        pointer-events: none;
        background: linear-gradient(
          270deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );

        @include transform(scale(-1, 1));
      }

      .tabs-links {
        display: block;
        margin-bottom: 6px;
        margin-left: 0;
        margin-right: 0;
        overflow: auto;
        white-space: nowrap;
        padding-bottom: 10px;
        position: relative;

        &::-webkit-scrollbar {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }

        scrollbar-color: transparent transparent;
        scrollbar-width: thin;

        li {
          display: inline-block;
          vertical-align: middle;
          width: 184px;
        }

        a {
          white-space: normal;
        }
      }
    }
  }

  .registartion-controls .rightSide {
    width: 100%;
    margin-top: 16px;
  }

  .registartion-controls .leftSide {
    width: 100%;
  }

  .registartion-controls .chek-item + .chek-item {
    margin-top: 16px;
  }

  .file-load label {
    gap: 10px;
  }

  .tabs-inner__links {
    margin-bottom: 16px;
    gap: 16px;
  }

  .modal-registartions .tabs.tabsInner {
    margin-top: 0;
  }

  .registartion-col + .caption {
    padding-top: 16px;
    margin-top: 16px;
  }

  .product-section .select-wrapper .ui-selectmenu-button {
    padding: 8px 0;
  }

  #modal-addBasket {
    .modal__inner {
      max-width: 290px;
    }
  }

  .modal-addBasket .modal-checkout__controls {
    max-width: 258px;
  }

  .product-small {
    margin-top: 20px;
    max-width: 258px;

    .basket-table .tr:last-child {
      border-bottom: 0;
    }

    .basket-table {
      .tr {
        grid-template-columns: 120px 1fr;
      }

      .price-basket {
        font-size: 18px;
        line-height: 24px;
        padding-top: 10px;

        .old {
          font-size: 14px;
        }
      }

      .picture {
        width: 100px;
        height: 100px;
        left: -120px;
      }
    }
  }

  .modal-checkout .modal-checkout__controls {
    margin-top: 16px;
  }

  .cabinet-section {
    padding: 18px 0;

    .tabs-body {
      margin-top: 15px;
    }
  }

  .cabinet-body__head {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 16px;
  }

  .input-item.input-item--first {
    margin-bottom: 16px;
  }

  .input-item.input-item--first label {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    width: auto;
  }

  .cabinet-section .input-list label {
    padding-top: 0;
  }

  .cabinet-body__body {
    margin-top: 16px;
  }

  .cabinet-body__controls .btn {
    max-width: 100%;
    width: 100%;
  }

  .cabinet-body__controls .btn + .btn {
    margin-top: 10px;
  }

  .profile-table .caption {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    width: auto;
  }

  .profile-table {
    .table {
      margin-top: 0;
    }

    .thead {
      display: none;
    }

    .tr {
      display: block;
      padding: 12px 0;

      & + .tr {
        border-top: solid 1px #002246;
      }
    }

    .td {
      width: 100% !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0;
      padding: 8px 0;
    }

    a {
      margin-left: auto;

      &::before {
        left: -10px;
      }
    }

    .mobile-title {
      display: block;
    }
  }

  .basket-table__countTxt {
    font-size: 12px;
    line-height: 16px;
  }

  .cabinet-section {
    .basket-table {
      .picture {
        width: 78px;
        height: 78px;
        left: -90px;
      }

      .price-basket {
        padding-top: 0;
      }

      .tr {
        grid-template-columns: 90px 1fr;
        padding: 20px 0;
      }

      .td {
        &:last-child {
          grid-column: 2/2;
          order: 1;
        }

        &:nth-child(5) {
          grid-column: 2/2;
          order: 2;
        }

        &:nth-child(4) {
          grid-column: 2/2;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    .selectric .label {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .cabinet-section .text-simple ul {
    margin: 10px 0;
  }

  .cabinet-section .text-simple ul li + li {
    margin-top: 10px;
  }

  .cabinet-section .text-simple h2,
  .cabinet-section .text-simple h3,
  .cabinet-section .text-simple h4 {
    font-size: 12px;
    line-height: 15px;
  }

  .cabinet-section .text-simple {
    font-size: 12px;
    line-height: 15px;
  }

  .js-block-show {
    ul {
    }

    li {
      padding: 5px 10px;

      a {
        font-size: 12px;
      }
    }
  }

  .login-section__inner {
    max-width: 100%;
  }

  .table-history .thead {
    display: none;
  }

  .table-history {
    display: block;
    width: 100%;

    .tbody {
      display: block;
      width: 100%;

      .tr {
        display: block;
        width: 100%;
        padding: 20px 0;

        &:last-child {
          padding-bottom: 0;
        }

        & + .tr {
          border-top: solid 1px rgb(0, 34, 70);
        }
      }

      .td {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0;
        color: #002246;
        font-size: 12px;
        font-weight: 400;

        & + .td {
          margin-top: 5px;
        }
      }
    }
  }

  .table-history__mobileTitle {
    display: block;
  }

  .table-history .price {
    font-size: 14px;
    line-height: 20px;
  }

  .table-history .more {
    margin-left: auto;
  }

  .cabinet-section .caption {
    font-size: 14px;
    line-height: 17px;
  }

  .histroy-info__list {
    padding: 16px 0;
  }

  .histroy-info__list ul li {
    font-size: 12px;
  }

  .cabinet-body__body .basket-table {
    margin-top: 16px;
  }

  .basket-table__all {
    margin-top: 20px;
    padding: 0;
    border: 0;
  }

  .histroy-info__controls {
    gap: 16px;
    flex-direction: column;
    margin-top: 5px;
  }

  .questions-section .caption-desc.caption-desc--req {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 20px;
  }

  .questions-section .caption {
    text-align: center;
  }

  .simplepage-section {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .tabs-link::after,
  .simplepage-section .tabs-link::after {
    top: calc(100% + 8px);
  }

  .simplepage-section__content {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }

  .simplepage-section__content h2 {
    font-size: 14px;
    line-height: 17px;
  }

  .simplepage-section__content ol li,
  .simplepage-section__content ul li {
    padding-left: 19px;
  }

  .return-text {
    font-size: 12px;
    line-height: 15px;
  }

  .return-section {
    padding-top: 16px;
  }

  .return-text li::before {
    min-width: 12px;
  }

  .documents-section {
    padding-top: 16px;
  }

  .documents-section .caption {
    font-size: 14px;
    line-height: 17px;
  }

  .documents-date {
    width: 50%;
    order: 1;
  }

  .documents-name {
    width: 70%;
    order: 3;
    font-size: 12px;
    line-height: 15px;
  }

  .documents-size {
    order: 4;
    margin-left: 0;
  }

  .documents-controls {
    margin-left: 0;
    order: 2;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .documents-item {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px;
  }

  .documents-list {
    margin-top: 16px;
  }

  .jobs-item {
    font-size: 12px;
    line-height: 15px;
    gap: 16px;
    padding: 16px;
  }

  .jobs-name {
    font-size: 12px;
    line-height: 15px;
    max-width: 320px;
  }

  .jobs-more {
    font-size: 12px;
    line-height: 15px;
  }

  .jobs-more svg {
    width: 16px;
    height: 16px;
  }

  .jobs-info {
    font-size: 12px;
    line-height: 15px;
  }

  .jobs-info__date {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }

  .jobs-info h2,
  .jobs-info h3 {
    font-size: 14px;
    line-height: 17px;
  }

  .about-block__left {
    font-size: 12px;
    line-height: 15px;
  }

  .about-controls {
    flex-wrap: wrap;
    margin-top: 0;
    gap: 20px;

    .btn {
      width: 100%;
    }
  }

  .about-block__inner {
    gap: 20px;
  }

  .about-company .text-simple h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .about-company .text-simple ul li::before {
    top: 6px;
    left: 6px;
  }

  .about-company .text-simple ul li {
    padding-left: 15px;
  }

  .about-company .text-simple {
    font-size: 12px;
    line-height: 15px;
  }

  .about-info__title {
    font-size: 16px;
    line-height: 20px;
  }

  .about-info {
    font-size: 12px;
    line-height: 15px;
  }

  .about-info__row {
    padding: 20px 0;
  }

  .about-text {
    .caption {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .about-slider {
    margin-top: 16px;

    .picture {
      width: 100%;
      height: auto;
    }
  }

  .contacts-line {
    align-items: center;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
    width: 100%;
  }

  .contacts-page__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts-line ul {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px 30px;
  }

  .contacts-line .text {
    font-size: 12px;
    line-height: 15px;
  }

  .contacts-social .title,
  .contacts-line a {
    font-size: 14px;
    line-height: 17px;
  }

  .contacts-social {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .map {
    height: 200px;
  }

  .contacts-adress__tabs .tabs-links {
    padding-bottom: 10px;
  }

  .contacts-table {
    .thead {
      display: none;
    }

    .tbody {
      display: block;

      .tr {
        display: block;
        padding: 16px 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        & + .tr {
          border-top: solid 1px #002246;
        }
      }

      .td {
        display: flex;
        width: 100% !important;
        border: 0 !important;
        padding: 0;

        & + .td {
          margin-top: 16px;
        }

        & > * {
          width: 60%;
          text-align: left;
        }
      }
    }

    .titleMobile {
      width: 40%;
      display: flex;
      align-items: center;
    }

    ul {
      li {
        & + li {
          margin-top: 5px;
        }
      }
    }
  }

  .tabs--default {
    position: relative;

    .tabs-links {
      display: block;
      margin-bottom: 6px;
      margin-left: 0;
      margin-right: 0;
      overflow: auto;
      white-space: nowrap;
      padding-bottom: 10px;
      position: relative;

      &::-webkit-scrollbar {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      scrollbar-color: transparent transparent;
      scrollbar-width: thin;

      li {
        display: inline-block;
      }
    }

    @include before {
      right: -15px;
      top: -10px;
      width: 40px;
      height: 50px;
      z-index: 4;
      pointer-events: none;
      background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .news-page__head {
    flex-wrap: wrap;
    gap: 20px;

    .tabs-links {
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%;
    }
  }

  .select-news .js-block-show {
    left: 0;
    right: auto;
  }

  .news-page {
    padding-top: 16px;
  }

  .select-news .js-link-open::before {
    width: 24px;
    height: 24px;
    background-size: contain;
  }

  .select-news .js-link-open {
    padding-right: 30px;
  }

  .article-other {
    .caption {
      & + .article-list {
        margin-top: 16px;
      }
    }
  }

  .article .text-simple h2 {
    font-size: 14px;
    line-height: 17px;
  }

  .article {
    .text-simple {
      font-size: 12px;
      line-height: 15px;

      ol li + li,
      ul li + li {
        margin-top: 0;
      }
    }
  }

  .article .text-simple h1 {
    font-size: 18px;
    line-height: 22px;
  }

  .video-list {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .video-page {
    padding-top: 16px;
  }

  .not-section {
    padding: 52px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .not-section__controls {
    flex-direction: column;

    .btn {
      max-width: 100%;
    }
    .btn--white {
      max-width: 100%;
    }
  }

  .not-section__inner {
    gap: 20px;
    max-width: 100%;
  }

  .bx-soa-reference.desc {
    width: 100%;
  }

  .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td {
    width: 100% !important;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .bx-soa-item-img-block,
  .bx-step-completed .bx-soa-item-img-block {
    float: none;
    margin: 0;
  }

  .bx-scu-container .bx-soa-item-td-title,
  .bx-scu-container .bx-soa-item-td-text {
    padding-left: 0;
  }

  .bx-soa-item-properties {
    font-size: 12px;
    line-height: 15px;
    padding: 0;
  }

  .bx-soa-item-tr {
    padding: 0;
  }

  .bx-soa-pp-company-smalltitle,
  .bx-scu-container .bx-soa-item-td-title,
  .bx-scu-container .bx-soa-item-td-text,
  .bx-soa-item-td-title,
  .bx-soa-item-td-text,
  .bx-soa-item-td-text .bx-price {
    font-size: 12px;
    line-height: 15px;
  }

  .bx-soa-section.bx-step-completed .bx-soa-section-content,
  .bx-soa-section.bx-selected .bx-soa-section-content {
    font-size: 12px;
    line-height: 15px;
  }

  .bx-soa-pp-company-selected {
    font-size: 12px;
    line-height: 15px;
  }

  .bx-scu-container .bx-soa-item-td-title,
  .bx-scu-container .bx-soa-item-td-text,
  .bx-soa-item-td-title,
  .bx-soa-item-td-text,
  .bx-soa-item-td-text .bx-price {
    padding: 4px 0;
  }

  .bx-soa-item-table {
    margin-bottom: 0;
  }

  .bx-soa-tooltip.bx-soa-tooltip-static {
    width: 100%;
  }

  .alert {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .bx-soa-pp .bx-soa-pp-company {
    gap: 8px;
    padding-left: 30px;
  }

  .modal__field,
  .errorsBlock {
    & + .btn {
      margin-top: 16px;
    }
  }

  .tagsSearch-list {
    gap: 5px;
    margin-bottom: 16px;

    li {
      font-size: 12px;
    }

    p {
      font-size: 14px;
    }
  }

  .sub-link:hover {
    text-decoration-color: transparent;
  }

  .resume-block {
    margin: 16px auto;
    padding: 0;
  }

  .resume-block .file-load__text {
    margin-left: 0;
  }

  .menu {
    li {
      & > .sub-menu {
        .sub-link {
          padding-left: 20px;
        }
      }
    }
  }

  .menu-link {
    padding-left: 5px;
    font-size: 16px;
    line-height: 20px;
  }

  .basket-page .bx-soa-item-tr .bx-soa-item-td:nth-child(1) {
    width: 100% !important;
  }

  .header-center {
    font-size: 12px;
    line-height: 16px;
  }

  .footer .callback-link {
    margin-top: 0;
  }

  .product-text-important {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
    min-height: 100px;
  }

  .select-list {
    gap: 10px;
  }

  .select-list label {
    height: 31px;
    min-width: 59px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .collections-list li {
    a {
      font-size: 14px;
      line-height: 15px;
    }
  }

  .catalog-collections__more {
    min-width: 32px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 25px;
  }

  .collections-list {
    gap: 10px;
  }

  .link-more-category {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: underline;
    text-decoration-color: #fff;
    margin-top: 16px;
    transition: text-decoration 0.3s;
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
  }

  .product-section__left {
    order: 1;
  }

  .product-section__title {
    order: 2;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .product-section__right {
    order: 3;
  }

  .product-section__details {
    order: 4;
  }

  .product-section__title .caption {
    font-size: 18px;
    line-height: 21px;
  }

  .product-info {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }

  .product-options__label {
    font-size: 12px;
    line-height: 20px;
    min-width: 60px;
  }

  .product-options__input label {
    font-size: 10px;
    line-height: 22px;
    min-width: 45px;
  }

  .product-options__line + .product-options__line {
    margin-top: 20px;
  }

  .product-options__input {
    flex: 1;
  }

  .product-section__controls .price-block {
    font-size: 20px;
    line-height: 32px;

    .old {
      font-size: 12px;
      line-height: 22px;
    }
  }

  .count-block__body .input-count {
    height: 39px;
  }

  .count-block__body .count-btn {
    height: 39px;
  }

  .price-block__wrap .btn {
    height: 39px;
    line-height: 30px;
    padding: 0;
  }

  .product-section__tabs {
    .tabs-links {
      flex-wrap: nowrap;
      overflow: auto;
      margin: 0;
    }
  }

  .product-section__tabs .tabs-links {
    width: 100%;
    overflow-y: hidden;
    gap: 30px;
  }

  .simplepage-section .tabs-link,
  .product-section__tabs .tabs-link {
    white-space: nowrap;
    padding-right: 0;
  }

  .tabs--default::before {
    display: none;
  }

  .simplepage-section .tabs-links {
    width: 100%;
    overflow-y: hidden;
    gap: 40px;
    display: flex;
    flex-wrap: nowrap;
  }

  .tabs-link--mobile {
    display: block;
    order: -1;
  }

  #tabMobile {
    display: block;

    .product-characteristics {
      display: flex;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      background-color: rgb(255, 255, 255);
      -webkit-box-shadow: 0px 4px 24px 0px rgba(218, 224, 232, 0.6);
      -moz-box-shadow: 0px 4px 24px 0px rgba(218, 224, 232, 0.6);
      box-shadow: 0px 4px 24px 0px rgba(218, 224, 232, 0.6);
    }
  }

  .product-section__tabs .tabs-body {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }

  .product-section__links {
    width: calc(100% + 30px);
    overflow: auto;
    padding: 0 15px;
    left: -15px;
    position: relative;
    margin-top: 20px;
  }

  .product-section__links .link {
    width: auto;
    white-space: nowrap;
    min-width: 162px;
    gap: 5px;
  }

  .product-section__left .btn-favorire svg {
    width: 25px;
    height: 25px;
  }

  .picture-sk {
    width: 50%;
    max-width: 110px;
  }

  .questions-section__left {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .questions-section .caption-desc {
    text-align: center;
    display: block;
    max-width: 100%;
  }

  .questions-section__inner {
    flex-direction: column;
  }

  .footer__leftSide .picture-sk {
    margin-top: 30px;
  }

  .contacts-page__map {
    padding-top: 30px;
  }

  .subscribe-block__inner {
    padding: 20px;
  }

  .questions-section + .subscribe-block {
    margin-top: -30px;
  }

  .subscribe-block {
    padding: 30px 0;
  }

  #modal-documents .modal__content {
    padding: 15px;
  }

  #modal-documents .modal__close {
    top: 18px;
  }

  .modal-documents__links a {
    font-size: 11px;
  }
}

// min width
@media (min-width: 768px) {
  .menu {
    display: block !important;

    .menu__list {
      display: flex !important;
    }

    .sub-menu {
      display: none !important;
    }
  }

  .menu li:hover .sub-menu {
    display: block !important;
  }

  .search-invis {
    display: none !important;
  }
}
