@media (max-width: 479px) {
  .catalog {
    padding: 20px 0;
  }

  .catalog-list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .catalog-item {
    width: 100%;
    margin: 0 0 12px;
  }

  .product-item {
    padding: 4px 16px 0;
  }

  .product-adv {
    ul {
    }

    li {
      height: 16px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .product-new {
    font-size: 10px;
    line-height: 10px;
    padding: 4px;
  }

  .product-item__content {
    padding: 8px 0;
  }

  .cabinet-block__text {
    display: none;
  }

  .header-bottom .logo-wrapper {
    left: 14px;
  }

  .header-bottom__inner {
    gap: 10px;
  }

  .product-item__info p {
    height: auto;
  }

  .city-list li {
    width: 100%;
  }

  .city-list {
    margin-top: 25px;
  }

  #modal-your-city {
    .modal__container {
      padding: 0;
      @include border-radius(0);
    }

    .modal__inner {
      max-width: 100%;
      width: 100%;
      @include border-radius(0);
      padding: 16px;
    }

    .modal__overlay {
      align-items: flex-start;
    }
  }

  .your-city__controls {
    margin-top: 16px;
  }
}
