@media (max-width: 639px) {
  .catalog-item {
    width: calc(50% - 12px);
    margin: 0 6px 12px;
  }

  .catalog-list {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 12px;
  }

  .catalog__controls {
    margin-top: 0;
  }

  .product-name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .product-article {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }

  .product-item__info {
    font-size: 10px;
    line-height: 12px;

    p {
      height: 24px;
    }
  }

  .select-count__text {
    display: none;
  }

  .select-count {
    .selectric {
      .label {
        font-size: 12px;
        width: 38px;
        text-overflow: inherit;
        overflow: hidden;
        display: block;
        padding-right: 0;
        white-space: normal;
      }
    }

    .selectric-items {
      min-width: 120px;
      left: auto;
      right: 0;
    }
  }

  .catalog-page .catalog-item {
    width: calc(50% - 12px);
  }

  .subscribe-block {
    .caption-desc {
      margin-bottom: 10px;
    }

    &__inner {
      gap: 10px;
    }

    input {
    }

    .btn {
      width: 100%;
      max-width: 100%;
    }
  }

  .price-block__wrap {
    width: 100%;
    max-width: 100%;
  }

  .documents {
    .list-links {
      flex-direction: column;
      gap: 16px;

      li {
      }

      .tabs-link {
        text-align: left;
        display: block;
        text-underline-offset: 5px;
      }
    }
  }

  .doc-item{
    flex-wrap: wrap;
    gap: 16px;
  }

  .doc-item .num{
    width: 15px;
  }

  .doc-item__controls{
    width: 100%;
  }

  .documents .file-load .file-load__text {
    margin-left: 0;
    width: 100%;
  }
}
