@media (max-width: 1199px) {
  .callback-link {
    font-size: 14px;
    line-height: 17px;
  }

  .phone-link {
    font-size: 14px;
    line-height: 17px;
  }

  .link-menuCatalog {
    font-size: 14px;
    line-height: 17px;
  }

  .menu-link {
    font-size: 12px;
    line-height: 15px;
  }

  .sub-link {
    font-size: 12px;
    line-height: 15px;
  }

  .sub-menu {
    padding: 16px 20px;
  }

  .sub-menu li + li {
    margin-top: 10px;
  }

  .favorite-block {
    font-size: 10px;
    line-height: 12px;
  }

  .header-basket {
    font-size: 10px;
    line-height: 12px;
    padding-right: 15px;
  }

  .menu {
    .menu__list {
      gap: 21px;
    }
  }

  .header-bottom__inner {
    padding: 15px 0 15px 0;
  }

  .header-links {
    gap: 15px;
  }

  .search-block {
    max-width: 280px;

    input {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .footer__rightSide {
    max-width: 489px;
  }

  .footer-gallery .picture {
    height: 147px;
  }

  .footer__inner {
    padding: 40px 0;
    font-size: 14px;
    line-height: 17px;
  }

  .footer__leftSide .logo-wrapper {
    width: 199px;
  }

  .footer__caption {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__leftSide {
    width: calc(100% - 490px);
  }

  .footer__row {
    gap: 27px;
  }

  .footer__col {
    max-width: 150px;
  }

  .footer__bottom {
    font-size: 14px;
    line-height: 17px;
    padding-top: 24px;
  }

  .caption {
    font-size: 30px;
    line-height: 37px;
  }

  .caption-desc {
    font-size: 18px;
    line-height: 22px;
  }

  .btn {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 10px;
  }

  .input-item {
    input {
      font-size: 14px;
      line-height: 17px;
    }

    textarea {
      font-size: 14px;
      line-height: 17px;
    }
  }

  section {
    padding: 40px 0;
  }

  .questions-from__text {
    font-size: 10px;
    line-height: 12px;
  }

  .text-simple {
    font-size: 16px;
    line-height: 20px;
  }

  .text-section__inner .caption {
    margin-bottom: 20px;
  }

  .text-section__leftSide {
    width: calc(100% - 505px);
  }

  .text-section__rightSide {
    max-width: 489px;

    .btn {
      margin-top: 16px;
    }
  }

  .text-simple ul li::before {
    top: 10px;
  }

  .video-section {
    height: 300px;
    padding: 25px;

    .video__link {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .about-list {
    gap: 20px 0;
    margin: 20px -32px 0;
  }

  .about-item {
    font-size: 16px;
    line-height: 20px;
    min-height: 176px;

    .icon {
      width: 80px;
      height: 80px;

      img {
        width: 30px;
      }
    }
  }

  .about-item__content {
    max-width: 286px;
    padding: 0 3px;
  }

  .about-item::before {
    @include transform(rotate(11deg));
  }

  .article-main .article-list {
    margin-top: 20px;
  }

  .article-list {
    gap: 17px;
  }

  .article-item {
    width: calc(100% / 3 - 12px);

    .picture {
      padding-top: calc(209 / 384 * 100%);
      margin-bottom: 15px;
      padding-left: 11px;
      padding-right: 11px;
    }
  }

  .article-item__date {
    font-size: 10px;
    line-height: 12px;
  }

  .article-item__name {
    font-size: 14px;
    line-height: 17px;
    height: 35px;
  }

  .article-main__controls {
    margin-top: 15px;
  }

  .article-more {
    font-size: 14px;
    line-height: 17px;
  }

  .article-item__tags {
    @include transform(translateY(-10px));
  }

  .article-item__tags li {
    font-size: 12px;
    line-height: 15px;
  }

  .catalog-list {
    margin-top: 20px;
  }

  .product-name {
    font-size: 14px;
    line-height: 20px;
  }

  .product-article {
    font-size: 12px;
    line-height: 16px;
  }

  .product-item__content {
    padding: 15px 0;
  }

  .product-item__controls {
    flex-wrap: wrap;

    .btn {
      width: 100%;
      padding: 12px 10px;
    }
  }

  .catalog__controls {
    margin-top: 20px;
  }

  .catalog {
    padding: 40px 0;
  }

  .banner-box {
    font-size: 12px;
    line-height: 16px;
  }

  .cabinet-block__text {
    font-size: 10px;
    line-height: 12px;
  }

  .header {
    .logo-wrapper {
      width: 118px;
    }
  }

  .adress-block {
    width: 130px;
    font-size: 10px;
    line-height: 12px;
  }

  .header-basket__basket .count {
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 12px;
    top: -1px;
    right: -2px;
  }

  .favorite-block .count {
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 12px;
    top: -5px;
    right: -2px;
  }

  .menu-catalog {
    left: 110px;
  }

  #modal-city {
    .modal__inner {
      max-width: 680px;
      padding: 30px;
    }
  }

  .modal__inner {
    .caption {
      font-size: 18px;
    }

    .modals-caption {
      font-size: 30px;
      line-height: 37px;
    }
  }

  .modal__close {
    right: 30px;
    top: 33px;
  }

  #modal-your-city {
    .caption {
      font-size: 14px;
    }
  }

  .category-item {
    font-size: 14px;
    height: 100px;
  }

  .breadcrumbs {
    padding: 36px 0 13px;
  }

  .catergory-section {
    padding: 22px 0;
  }

  .text-simple {
    font-size: 16px;
    line-height: 20px;

    h2 {
      font-size: 30px;
    }
  }

  .catalog-page__filter {
    position: absolute;
    left: -500px;
    top: 0;
  }

  .catalog-page__catalog {
    padding-left: 0;
    width: 100%;
  }

  .catalog-page {
    padding: 16px 0;
  }

  .btn-sort-mobile {
    display: flex;
  }

  .catalog-sort {
    justify-content: flex-start;
    gap: 16px;

    .select-count {
      margin-left: auto;
      min-width: 30%;
      justify-content: flex-end;
    }
  }

  .select-sort__icon {
    width: 24px;
  }

  .select-sort .select-sort__name,
  .select-sort .selectric .label {
    padding-left: 34px;
    line-height: 32px;
  }

  .select-count .selectric .label {
    padding-right: 35px;
  }

  .select-count .js-link-open::before,
  .select-count .selectric .button {
    width: 24px;
    background-size: 24px;
    top: 1px;
  }

  .catalog-tags {
    margin-top: 15px;
  }

  .catalog-page .catalog-item {
    width: calc(100% / 4 - 24px);
  }

  .product-adv li::after {
    bottom: 30px;
    left: 50%;
    margin-left: -50px;
    padding: 5px;
    width: 100px;
    font-size: 10px;
  }

  .filter-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 282px;
    z-index: 12;
    @include transition(all 0.3s);

    &.show {
      @include transform(translateX(500px));
    }
  }

  .filter-block + .filter-block {
    margin-top: 0;
  }

  .filter-block__title {
    .caption {
      font-size: 18px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .filter-block__row {
    padding: 15px 0;
  }

  .filter-block__controls .btn + .btn {
    margin-top: 15px;
  }

  .btn-mobile-close {
    display: block;
  }

  .filter-block__title .caption svg {
    display: none;
  }

  .marketplace-item .picture img {
    width: 100%;
  }

  .marketplace-item .picture {
    max-width: 160px;
  }

  .marketplace-item__link {
    font-size: 14px;
    line-height: 17px;
  }

  .marketplace-item {
    gap: 8px;
  }

  .marketplace {
    margin: 40px 0;
    padding: 40px 0;
  }

  .marketplace .caption {
    margin-bottom: 22px;
  }

  .product-section__vendorcode {
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
  }

  .product-section__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }

  .product-section__title .btn-favorire {
    @include transform(translateY(4px));
  }

  .product-applications__list li {
    font-size: 16px;
    line-height: 20px;
  }

  .product-section .product-settings .select-wrapper .select-head label,
  .product-section .product-section__caption {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }

  .product-applications {
    padding: 16px 0;
    margin-top: 16px;
  }

  .product-section .product-settings {
    padding: 16px 0;
  }

  .product-section .select-head {
    margin-bottom: 5px;
  }

  .product-section__left {
    width: 400px;
  }

  .product-section__right {
    width: calc(100% - 400px);
    padding-left: 20px;
  }

  .product-small__slider {
    .swiper-slide {
      height: 88px;
    }

    .picture {
      height: 60px;
    }
  }

  .product-section__left .product-new {
    font-size: 14px;
    line-height: 14px;
    padding: 10px 16px;
  }

  .product-big__slider .swiper-slide {
    height: 400px;
  }

  .product-big__slider .picture {
    width: 300px;
    height: 300px;
  }

  .price-block {
    font-size: 30px;
    line-height: 37px;

    .old {
      font-size: 18px;
    }
  }

  .product-section__details {
    width: 100%;
    padding: 34px 0 0px;
  }

  .product-section__controls {
    padding: 16px 0;
  }

  .link-rectangle {
    font-size: 16px;
    line-height: 20px;
  }

  .product-section__tabs .tabs-link {
    height: 54px;
  }

  .tabs {
    .tabs-links {
      margin-bottom: 20px;
    }
  }

  .product-details {
    font-size: 16px;
    line-height: 20px;

    h2,
    h3 {
      font-size: 16px;
    }
  }

  .about-product {
    padding: 12px 0;
  }

  .other-product__inner .caption {
    margin-bottom: 20px;
  }

  .other-product {
    padding: 60px 0;
  }

  .other-product__slider .swiper-controls {
    margin-top: 37px;
  }

  .subscribe-block {
    .caption-desc {
      max-width: 320px;
    }

    &__inner {
      gap: 10px;
    }

    input {
      max-width: 320px;
      height: 47px;
      font-size: 14px;
      line-height: 17px;
    }

    .btn {
      max-width: 307px;
    }
  }

  .basket__inner .basket-table {
    width: calc(100% - 320px);
    max-width: 100%;
  }

  .basket-order {
    width: 302px;
  }

  .basket-table .th {
    font-size: 12px;
    line-height: 15px;
  }

  .basket-table {
    .picture {
      width: 60px;
      height: 60px;
    }
  }

  .basket-table__article {
    font-size: 12px;
    line-height: 15px;
  }

  .basket-table__name {
    font-size: 14px;
    line-height: 17px;
  }

  .basket-table .basket-delete {
    font-size: 12px;
    line-height: 15px;
    flex-direction: column;
    gap: 5px;
  }

  .basket__inner .caption {
    margin-bottom: 12px;
  }

  .basket-table .basket-clear {
    white-space: normal;
  }

  .basket-table .th:first-child,
  .basket-table .td:first-child {
    width: 35%;
  }

  .basket-order__caption {
    font-size: 18px;
    line-height: 22px;
  }

  .basket-order__list {
    li {
      font-size: 16px;
      line-height: 20px;

      &.result {
        font-size: 16px;
        padding-top: 16px;

        .basket-order__title {
          font-size: 16px;
        }

        .basket-order__price {
          font-size: 18px;
        }
      }
    }
  }

  .total-weight {
    font-size: 12px;
    line-height: 15px;
  }

  .checkout-list {
    width: calc(100% - 320px);
    max-width: 100%;

    .basket-table {
      width: 100%;
    }
  }

  .checkout-item__head {
    gap: 13px;

    .number {
      width: 40px;
      height: 40px;
      font-size: 16px;
      line-height: 20px;
    }

    .title {
      font-size: 16px;
      line-height: 20px;
    }

    .btn-change {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .checkout-item {
    padding: 16px;
  }

  .checkout-item__body {
    padding-top: 6px;
  }

  .input-list label {
    font-size: 14px;
    line-height: 17px;
    padding-top: 16px;
  }

  .input-list .label {
    font-size: 14px;
    line-height: 17px;
    padding: 15px 10px;
  }

  .input-list .input-item__form {
    width: calc(50% - 7px);
  }

  .checkout-controls .btnCheck-next,
  .checkout-controls .btnCheck-prev {
    font-size: 14px;
  }

  .checkout-controls {
    margin-top: 15px;
  }

  .checkout-list .check-list .chek-item label {
    font-size: 14px;
    line-height: 17px;
    padding-left: 35px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .chek-item + .chek-item {
    margin-top: 16px;
  }

  .checkout-list .check-list .chek-item label::after,
  .checkout-list .check-list .chek-item label::before {
    left: 0px;
    top: 4px;
  }

  .checkout-list .delivery-info {
    font-size: 12px;
    padding-left: 36px;
    padding-top: 9px;
    gap: 9px;
  }

  #modal-back-call,
  #modal-success-moderations,
  #modal-success-registation,
  #modal-success,
  #modal-login,
  #modal-authorization,
  #modal-your-details,
  #modal-checkout {
    .modal__inner {
      max-width: 500px;
    }
  }

  .modal-custom {
    padding: 70px 0 30px;
  }

  .modal-checkout {
    max-width: 323px;
  }

  .modal-checkout__controls {
    margin: 30px auto 0;
  }

  .modal-checkout__links {
    margin-top: 20px;
  }

  .modal-checkout__links a {
    font-size: 12px;
    line-height: 15px;
  }

  .modal-yourDetails .input-form {
    max-width: 326px;
    margin-top: 30px;
  }

  .modal__content .chek-item {
    label {
      font-size: 12px;
      line-height: 15px;

      &:after,
      &::before {
        top: 0;
      }
    }
  }

  .modal__content__text {
    margin-top: 30px;
    font-size: 12px;
    line-height: 15px;
    max-width: 326px;
  }

  .modal-registartions {
    padding-left: 100px;
    padding-right: 100px;
  }

  .modal-registartions {
    .tabs {
      margin-top: 30px;

      .tabs-links {
        margin-bottom: 40px;
      }
    }
  }

  .modal-registartions .tabs-links a {
    height: 55px;
  }

  .file-load__doc {
    font-size: 16px;
    line-height: 20px;
  }

  .file-load__text {
    font-size: 14px;
    line-height: 17px;
  }

  .tabs-inner__links {
    gap: 30px;

    li {
      a {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  #modal-addBasket {
    .modal__inner {
      max-width: 500px;
    }
  }

  .modal-addBasket .modal-checkout__controls {
    max-width: 355px;
  }

  .product-small {
    margin-top: 20px;
    max-width: 355px;

    .basket-table {
      .tr {
        grid-template-columns: 140px 1fr;
      }

      .price-basket {
        font-size: 24px;
        line-height: 29px;

        .old {
          font-size: 16px;
        }
      }

      .picture {
        width: 140px;
        height: 140px;
        left: -140px;
      }
    }
  }

  .modal-checkout .modal-checkout__controls {
    margin-top: 30px;
  }

  .input-item.input-item--first label {
    font-size: 16px;
  }

  .cabinet-body__head {
    font-size: 18px;
    line-height: 24px;
  }

  .cabinet-section {
    padding: 23px 0 42px;

    .tabs-links {
      width: 250px;
      margin-bottom: 0;
    }

    .tabs-body {
      width: calc(100% - 288px);
    }

    .tabs-link {
      padding: 5px 40px;
      text-align: center;
      height: 55px;
    }

    .input-list .input-item input {
      height: 43px;
    }

    .input-list label {
      padding-top: 14px;
    }
  }

  .input-item.input-item--first {
    margin-bottom: 20px;
  }

  .profile-table {
    .th {
      font-size: 14px;
      line-height: 17px;
    }

    .td {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .documents {
    .list-links {
      gap: 30px;

      .tabs-link {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .doc-item {
    font-size: 16px;
    line-height: 20px;

    .size {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .doc-item__controls a {
    font-size: 14px;
    line-height: 17px;
  }

  .cabinet-section .text-simple h2,
  .cabinet-section .text-simple h3,
  .cabinet-section .text-simple h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .cabinet-section .text-simple {
    font-size: 14px;
    line-height: 17px;
  }

  .select-sort .js-block-show {
    max-width: 190px;
  }

  .category-section {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .category-catalog__item {
    padding: 16px 5px 16px 16px;
    height: 340px;
  }

  .category-catalog__name {
    font-size: 14px;
    line-height: 17px;
    min-height: 34px;
  }

  .category-catalog__menu li + li {
    margin-top: 16px;
  }

  .category-catalog__menu li {
    font-size: 12px;
    line-height: 15px;
  }

  .category-catalog__more {
    font-size: 12px;
    line-height: 15px;
    margin-top: 16px;
  }

  .category-catalog__go {
    font-size: 12px;
    line-height: 15px;
    bottom: 17px;
    right: 10px;
  }

  .category-catalog__menu.visible {
    height: 230px;
    padding-bottom: 10px;
  }

  .category-catalog__item a {
    padding-right: 10px;
  }
}
